In [1]:
import pandas as pd
import haversine as hs
import warnings
from datetime import datetime
import numpy as np
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 100)

df  = pd.read_csv('test_task.csv')

### Комментарий к выполнению задания

1. Реализован пайплайн для обработки одного конкретного объекта.
2. Обработка большого числа объектов предлагается следующим образом: 
- Складываем пачки объектов приемлемого размера для pandas в отдельные файлики
- используя multiprocessing.Pool обрабатываем файлы, разбирая внутри на отдельные объекты и применяя пайплайн для обработки одного объекта 
- сохраняем выходные датафреймы пачками приемлемого размера
- *Блок не реализован в коде*
3. Визуализацию на карте можно попробовать с gmplot. Если же захотим строить только трек перемещения, то можно попробовать с matplotlib для простоты
- *Блок не реализован*


#### Алгоритм расчета основных параметров поездки: 
1. Выбираем конкретный объект, сортируем в порядке возрастания по времени событий. Сортировку можно выбросить для ускорения процесса если мы точно знаем, что все записи будут уже отсортированными <br><br>
2. Для каждой записи подтягиваем предыдущее время и координаты. Считаем дельту по времени в секундах и расстояние между координатами в метрах. <br><br>
3. Считаем скорость как отношение расстояния к дельте по времени. Заменяем на ноль в случае если дельта времени равна нулю.<br><br>
4. Считаем ускорение как абсолютное значение отношения дельты скорости к дельте по времени. Заменяем на ноль в случае если дельта времени равна нулю.<br><br>
5. Считаем взвешенные скорости и ускорения: для каждой записи скорость и ускорение умножаем на дельту времени.<br><br>
6. Формируем признак движения - если пройденное расстояние больше нуля, то 1. Иначе 0.<br><br>
7. Проходим в цикле по каждой записи и размечаем поездки: если текущая и предыдущая записи имеют совпадающий признак движения, то размечаем одним и тем же trip_id (для первой поездки trip_id будет равен нулю). Если же признак движения различается у текущей и предыдущей записей, то для текущей записи trip_id = trip_id + 1. <br><br>
8. Группируем по trip_id, считаем длительность поездки, пройденное расстояние, средние скорости и ускорения (отношение суммы взвешенных значений к общей длительности поездки)<br><br>
9. Получаем аутпут-датафрейм.

In [184]:
r = 8

In [189]:
i = 0
j = 7

In [199]:
(df[df['id'] == 1]) is True

False

In [204]:
df[df['id'] == 900].empty

True

In [210]:
j = 0 

while not df.loc[df['id'] == j].empty:
    j += 8
    print([df.loc[df['id'] == x] for x in range(j, j + 8) if not df.loc[df['id'] == x].empty])

[             lat        lon                    t  id
40000  58.586137  49.615083  2022-03-07 12:55:21   8
40001  58.586137  49.615083  2022-03-07 13:05:20   8
40002  58.586137  49.615083  2022-03-07 13:15:20   8
40003  58.586137  49.615083  2022-03-07 13:25:20   8
40004  58.586137  49.615083  2022-03-07 13:35:20   8
...          ...        ...                  ...  ..
44995  58.623212  49.662872  2022-03-18 07:02:09   8
44996  58.623212  49.662872  2022-03-18 07:12:09   8
44997  58.623212  49.662872  2022-03-18 07:22:09   8
44998  58.623212  49.662875  2022-03-18 07:32:09   8
44999  58.623212  49.662875  2022-03-18 07:42:09   8

[5000 rows x 4 columns],              lat        lon                    t  id
45000  58.593627  49.649913  2022-03-10 13:35:19   9
45001  58.593623  49.649743  2022-03-10 13:35:21   9
45002  58.593553  49.647480  2022-03-10 13:35:36   9
45003  58.593518  49.647217  2022-03-10 13:35:40   9
45004  58.593533  49.647000  2022-03-10 13:35:42   9
...          ...        ...                  ...  ..
49995  58.547443  49.632682  2022-03-18 07:49:25   9
49996  58.547443  49.632682  2022-03-18 07:49:27   9
49997  58.547443  49.632682  2022-03-18 07:50:01   9
49998  58.547443  49.632682  2022-03-18 07:50:25   9
49999  58.547443  49.632682  2022-03-18 07:50:57   9

[5000 rows x 4 columns],              lat        lon                    t  id
50000  59.534883  49.376817  2022-03-15 17:10:27  10
50001  59.533565  49.373547  2022-03-15 17:10:37  10
50002  59.532535  49.370398  2022-03-15 17:10:46  10
50003  59.532032  49.368505  2022-03-15 17:10:51  10
50004  59.530080  49.360295  2022-03-15 17:11:13  10
...          ...        ...                  ...  ..
54995  58.617700  49.620302  2022-03-18 07:48:36  10
54996  58.617692  49.620325  2022-03-18 07:48:43  10
54997  58.617678  49.620353  2022-03-18 07:49:17  10
54998  58.617678  49.620353  2022-03-18 07:50:16  10
54999  58.617678  49.620353  2022-03-18 07:51:16  10

[5000 rows x 4 columns],              lat        lon                    t  id
55000  52.527348  39.817852  2022-03-16 18:10:17  11
55001  52.527348  39.817852  2022-03-16 18:10:47  11
55002  52.527348  39.817852  2022-03-16 18:11:17  11
55003  52.527348  39.817852  2022-03-16 18:11:47  11
55004  52.527348  39.817852  2022-03-16 18:12:17  11
...          ...        ...                  ...  ..
59995  55.435005  37.157233  2022-03-18 07:48:51  11
59996  55.438793  37.149810  2022-03-18 07:49:22  11
59997  55.443072  37.141310  2022-03-18 07:49:53  11
59998  55.446702  37.132922  2022-03-18 07:50:23  11
59999  55.449830  37.125253  2022-03-18 07:50:53  11

[5000 rows x 4 columns],              lat        lon                    t  id
60000  56.710342  60.957505  2022-03-16 04:38:58  12
60001  56.710310  60.957450  2022-03-16 04:43:53  12
60002  56.710307  60.957317  2022-03-16 04:44:00  12
60003  56.710307  60.957317  2022-03-16 04:44:00  12
60004  56.710347  60.957093  2022-03-16 04:44:06  12
...          ...        ...                  ...  ..
64995  53.383192  50.430253  2022-03-18 07:49:52  12
64996  53.378617  50.431790  2022-03-18 07:50:12  12
64997  53.374120  50.433225  2022-03-18 07:50:33  12
64998  53.372502  50.433822  2022-03-18 07:50:42  12
64999  53.371795  50.434165  2022-03-18 07:50:46  12

[5000 rows x 4 columns],              lat        lon                    t  id
65000  54.471722  53.307739  2022-03-14 13:03:32  13
65001  54.470890  53.305656  2022-03-14 13:03:40  13
65002  54.467342  53.298225  2022-03-14 13:04:10  13
65003  54.463722  53.290691  2022-03-14 13:04:40  13
65004  54.460728  53.284245  2022-03-14 13:05:08  13
...          ...        ...                  ...  ..
69995  53.270126  45.001244  2022-03-18 07:40:50  13
69996  53.270126  45.001244  2022-03-18 07:43:20  13
69997  53.270126  45.001244  2022-03-18 07:45:51  13
69998  53.270126  45.001244  2022-03-18 07:48:21  13
69999  53.270126  45.001244  2022-03-18 07:50:51  13

[5000 rows x 4 columns],             lat         lon                    t  id
70000  52.32082  104.190102  2022-03-14 17:58:17  14
70001  52.32082  104.190102  2022-03-14 17:59:17  14
70002  52.32082  104.190102  2022-03-14 18:00:17  14
70003  52.32082  104.190102  2022-03-14 18:01:17  14
70004  52.32082  104.190102  2022-03-14 18:02:17  14
...         ...         ...                  ...  ..
74995  52.32082  104.190102  2022-03-18 07:47:12  14
74996  52.32082  104.190102  2022-03-18 07:48:12  14
74997  52.32082  104.190102  2022-03-18 07:49:12  14
74998  52.32082  104.190102  2022-03-18 07:50:12  14
74999  52.32082  104.190102  2022-03-18 07:51:12  14

[5000 rows x 4 columns],             lat        lon                    t  id
75000  9.037718 -79.464348  2022-03-16 23:22:24  15
75001  9.037718 -79.464348  2022-03-16 23:22:54  15
75002  9.037718 -79.464348  2022-03-16 23:23:24  15
75003  9.037718 -79.464348  2022-03-16 23:23:54  15
75004  9.037718 -79.464348  2022-03-16 23:24:24  15
...         ...        ...                  ...  ..
79995  9.037650 -79.464195  2022-03-18 07:49:09  15
79996  9.037650 -79.464195  2022-03-18 07:49:39  15
79997  9.037650 -79.464195  2022-03-18 07:50:09  15
79998  9.037650 -79.464195  2022-03-18 07:50:39  15
79999  9.037650 -79.464195  2022-03-18 07:51:09  15

[5000 rows x 4 columns]]
[             lat        lon                    t  id
80000  25.575530  81.684120  2022-03-17 17:59:13  16
80001  25.576053  81.682845  2022-03-17 17:59:23  16
80002  25.576530  81.681588  2022-03-17 17:59:32  16
80003  25.576960  81.680411  2022-03-17 17:59:42  16
80004  25.577428  81.679228  2022-03-17 17:59:52  16
...          ...        ...                  ...  ..
84995  26.247255  79.760168  2022-03-18 07:50:52  16
84996  26.247929  79.759435  2022-03-18 07:51:02  16
84997  26.248606  79.758698  2022-03-18 07:51:12  16
84998  26.249391  79.757973  2022-03-18 07:51:22  16
84999  26.250106  79.757248  2022-03-18 07:51:32  16

[5000 rows x 4 columns],              lat         lon                    t  id
85000  43.972486  133.020125  2022-03-14 23:38:38  17
85001  43.972545  133.019950  2022-03-14 23:38:39  17
85002  43.972625  133.019580  2022-03-14 23:38:41  17
85003  43.973048  133.016508  2022-03-14 23:38:56  17
85004  43.973058  133.016056  2022-03-14 23:38:58  17
...          ...         ...                  ...  ..
89995  44.290151  133.420230  2022-03-18 07:41:56  17
89996  44.290151  133.420230  2022-03-18 07:43:56  17
89997  44.290151  133.420230  2022-03-18 07:45:56  17
89998  44.290151  133.420230  2022-03-18 07:47:56  17
89999  44.290151  133.420230  2022-03-18 07:49:56  17

[5000 rows x 4 columns],              lat         lon                    t  id
90000  20.393436 -100.002640  2022-02-23 22:21:37  18
90001  20.568062 -100.302471  2022-03-02 19:50:52  18
90002  20.568062 -100.302471  2022-03-02 19:50:52  18
90003  20.567951 -100.302373  2022-03-02 19:53:12  18
90004  20.567951 -100.302373  2022-03-02 19:53:17  18
90005  20.567951 -100.302373  2022-03-02 19:53:17  18
90006  20.567951 -100.302373  2022-03-02 19:53:17  18
90007  20.567951 -100.302373  2022-03-02 19:53:21  18
90008  20.567951 -100.302373  2022-03-02 19:53:21  18
90009  20.567951 -100.302373  2022-03-02 19:53:24  18
90010  20.567951 -100.302373  2022-03-02 19:53:33  18
90011  20.567951 -100.302373  2022-03-02 19:53:33  18
90012  20.567951 -100.302373  2022-03-02 19:53:33  18
90013  20.567951 -100.302373  2022-03-02 19:53:33  18
90014  20.567951 -100.302373  2022-03-02 19:53:41  18
90015  20.567951 -100.302373  2022-03-02 19:54:43  18
90016  20.567951 -100.302373  2022-03-02 19:55:08  18
90017  20.567951 -100.302373  2022-03-02 19:55:08  18
90018  20.567951 -100.302373  2022-03-02 19:55:14  18
90019  20.567951 -100.302373  2022-03-02 19:55:14  18
90020  20.567951 -100.302373  2022-03-02 19:55:18  18
90021  20.567951 -100.302373  2022-03-02 19:55:21  18
90022  20.567951 -100.302373  2022-03-02 19:55:29  18
90023  20.567951 -100.302373  2022-03-02 19:55:35  18
90024  20.567951 -100.302373  2022-03-02 19:55:38  18
90025  20.567951 -100.302373  2022-03-02 19:55:46  18
90026  20.567951 -100.302373  2022-03-02 19:56:20  18
90027  20.567951 -100.302373  2022-03-02 19:56:25  18
90028  20.567951 -100.302373  2022-03-02 19:56:27  18
90029  20.567951 -100.302373  2022-03-02 19:57:14  18
90030  20.567951 -100.302373  2022-03-02 19:58:43  18
90031  20.567951 -100.302373  2022-03-02 19:58:45  18
90032  20.567951 -100.302373  2022-03-02 19:58:45  18
90033  20.567951 -100.302373  2022-03-02 19:58:49  18
90034  20.567951 -100.302373  2022-03-02 19:58:53  18
90035  20.567951 -100.302373  2022-03-02 19:58:56  18
90036  20.567951 -100.302373  2022-03-02 19:59:06  18
90037  20.567951 -100.302373  2022-03-02 19:59:09  18
90038  20.567951 -100.302373  2022-03-02 19:59:11  18
90039  20.567951 -100.302373  2022-03-02 19:59:13  18
90040  20.567951 -100.302373  2022-03-02 19:59:20  18
90041  20.567951 -100.302373  2022-03-02 19:59:23  18
90042  20.567951 -100.302373  2022-03-02 19:59:26  18
90043  20.567951 -100.302373  2022-03-02 20:06:44  18
90044  20.567951 -100.302373  2022-03-02 20:06:44  18
90045  20.567951 -100.302373  2022-03-02 20:06:44  18
90046  20.567951 -100.302373  2022-03-03 00:01:50  18
90047  20.567951 -100.302373  2022-03-03 00:02:01  18
90048  20.567951 -100.302373  2022-03-03 00:02:05  18
90049  20.567951 -100.302373  2022-03-03 00:02:05  18
90050  20.567951 -100.302373  2022-03-03 00:02:05  18
90051  20.567951 -100.302373  2022-03-03 00:02:31  18
90052  20.567911 -100.302347  2022-03-03 00:03:41  18
90053  20.567742 -100.302000  2022-03-03 00:03:51  18
90054  20.567693 -100.301902  2022-03-03 00:04:14  18
90055  20.567693 -100.301902  2022-03-03 00:04:25  18
90056  20.567693 -100.301902  2022-03-03 06:04:24  18
90057  20.567667 -100.301858  2022-03-03 14:55:53  18
90058  20.567667 -100.301858  2022-03-03 14:56:23  18
90059  20.567667 -100.301858  2022-03-03 14:56:23  18
90060  20.567667 -100.301858  2022-03-03 14:56:34  18
90061  20.567740 -100.301840  2022-03-03 14:56:34  18
90062  20.567740 -100.301840  2022-03-03 14:56:40  18
90063  20.567740 -100.301840  2022-03-03 14:56:40  18
90064  20.567756 -100.302249  2022-03-03 15:08:44  18
90065  20.567756 -100.302249  2022-03-03 17:17:38  18
90066  20.567756 -100.302249  2022-03-03 21:08:42  18
90067  20.567776 -100.302231  2022-03-04 00:00:22  18
90068  20.567613 -100.301804  2022-03-04 00:09:28  18
90069  20.567613 -100.301804  2022-03-04 06:09:27  18
90070  20.567613 -100.301804  2022-03-04 06:09:27  18
90071  20.567613 -100.301804  2022-03-04 06:09:27  18
90072  20.567613 -100.301804  2022-03-04 06:09:27  18
90073  20.567458 -100.301787  2022-03-08 19:49:35  18
90074  20.567458 -100.301787  2022-03-09 01:49:34  18
90075  20.567458 -100.301787  2022-03-09 01:49:34  18
90076  20.567458 -100.301787  2022-03-09 01:49:34  18
90077  20.567458 -100.301787  2022-03-09 01:49:34  18
90078  20.567458 -100.301787  2022-03-09 01:49:34  18
90079  20.567458 -100.301787  2022-03-09 01:49:34  18
90080  20.567458 -100.301787  2022-03-09 01:49:34  18
90081  20.567458 -100.301787  2022-03-09 01:49:34  18
90082  20.567458 -100.301787  2022-03-09 01:49:34  18
90083  20.567458 -100.301787  2022-03-09 01:49:34  18
90084  20.567458 -100.301787  2022-03-09 01:49:34  18
90085  20.567458 -100.301787  2022-03-09 01:49:34  18
90086  20.567458 -100.301787  2022-03-09 01:49:34  18
90087  20.567458 -100.301787  2022-03-09 01:49:34  18,              lat        lon                    t  id
90088  53.913530  39.546753  2022-03-11 09:05:42  19
90089  53.911838  39.550438  2022-03-11 09:05:59  19
90090  53.910168  39.554103  2022-03-11 09:06:17  19
90091  53.908533  39.557738  2022-03-11 09:06:31  19
90092  53.906773  39.561578  2022-03-11 09:06:45  19
...          ...        ...                  ...  ..
95083  50.814595  42.013953  2022-03-18 07:02:38  19
95084  50.814595  42.013953  2022-03-18 07:12:38  19
95085  50.814595  42.013953  2022-03-18 07:22:38  19
95086  50.814595  42.013953  2022-03-18 07:32:38  19
95087  50.814595  42.013953  2022-03-18 07:42:38  19

[5000 rows x 4 columns],               lat        lon                    t  id
95088   40.455258  49.893981  2022-03-15 04:37:29  20
95089   40.455639  49.894103  2022-03-15 04:37:32  20
95090   40.456379  49.893610  2022-03-15 04:37:39  20
95091   40.456966  49.892538  2022-03-15 04:37:46  20
95092   40.457445  49.891658  2022-03-15 04:37:53  20
...           ...        ...                  ...  ..
100083  40.422870  49.882215  2022-03-18 07:28:54  20
100084  40.422739  49.882515  2022-03-18 07:29:08  20
100085  40.422438  49.882602  2022-03-18 07:29:26  20
100086  40.422399  49.882487  2022-03-18 07:29:58  20
100087  40.422461  49.882623  2022-03-18 07:30:19  20

[5000 rows x 4 columns],               lat        lon                    t  id
100088  18.434890 -70.015260  2022-03-15 14:55:02  21
100089  18.435610 -70.015104  2022-03-15 14:55:40  21
100090  18.435780 -70.014346  2022-03-15 14:56:02  21
100091  18.433485 -70.010243  2022-03-15 14:56:49  21
100092  18.433447 -70.010264  2022-03-15 14:56:51  21
...           ...        ...                  ...  ..
105083  18.518185 -70.009216  2022-03-18 07:47:45  21
105084  18.518185 -70.009216  2022-03-18 07:48:45  21
105085  18.518185 -70.009216  2022-03-18 07:49:45  21
105086  18.518185 -70.009216  2022-03-18 07:50:45  21
105087  18.518185 -70.009216  2022-03-18 07:51:45  21

[5000 rows x 4 columns],               lat         lon                    t  id
105088  59.475979  108.625664  2022-03-14 16:52:40  22
105089  59.475857  108.625435  2022-03-14 16:52:42  22
105090  59.475704  108.625259  2022-03-14 16:52:44  22
105091  59.475155  108.624664  2022-03-14 16:52:51  22
105092  59.475048  108.624489  2022-03-14 16:52:53  22
...           ...         ...                  ...  ..
110083  56.785320  105.768715  2022-03-18 07:51:01  22
110084  56.785309  105.768707  2022-03-18 07:51:05  22
110085  56.785336  105.768616  2022-03-18 07:51:11  22
110086  56.785343  105.768593  2022-03-18 07:51:12  22
110087  56.785397  105.768433  2022-03-18 07:51:42  22

[5000 rows x 4 columns],               lat        lon                    t  id
110088  40.446537  49.702085  2022-03-06 05:47:44  23
110089  40.446289  49.703275  2022-03-06 05:47:49  23
110090  40.446076  49.704510  2022-03-06 05:47:54  23
110091  40.445921  49.705462  2022-03-06 05:47:58  23
110092  40.445723  49.706614  2022-03-06 05:48:03  23
...           ...        ...                  ...  ..
115083  40.463327  49.748919  2022-03-18 07:11:03  23
115084  40.463527  49.748988  2022-03-18 07:11:33  23
115085  40.463537  49.748984  2022-03-18 07:11:35  23
115086  40.463584  49.748784  2022-03-18 07:12:07  23
115087  40.463554  49.748742  2022-03-18 07:12:18  23

[5000 rows x 4 columns]]
[              lat        lon                    t  id
115088  12.148722 -86.304697  2022-03-15 16:35:02  24
115089  12.149690 -86.304653  2022-03-15 16:35:12  24
115090  12.150682 -86.304607  2022-03-15 16:35:23  24
115091  12.151582 -86.304525  2022-03-15 16:35:49  24
115092  12.152482 -86.304487  2022-03-15 16:36:04  24
...           ...        ...                  ...  ..
120083  12.086228 -86.358172  2022-03-18 07:03:36  24
120084  12.086228 -86.358172  2022-03-18 07:13:36  24
120085  12.086228 -86.358172  2022-03-18 07:23:36  24
120086  12.086228 -86.358172  2022-03-18 07:33:36  24
120087  12.086228 -86.358172  2022-03-18 07:43:36  24

[5000 rows x 4 columns],              lat        lon                    t  id
120088 -0.981593  37.052382  2022-03-15 06:23:27  25
120089 -0.981593  37.052382  2022-03-15 06:23:53  25
120090 -0.981582  37.052373  2022-03-15 06:24:08  25
120091 -0.981582  37.052373  2022-03-15 06:24:22  25
120092 -0.981582  37.052373  2022-03-15 06:26:21  25
...          ...        ...                  ...  ..
125083 -1.426010  37.004792  2022-03-18 07:50:34  25
125084 -1.426010  37.004792  2022-03-18 07:51:00  25
125085 -1.426010  37.004792  2022-03-18 07:51:04  25
125086 -1.426010  37.004792  2022-03-18 07:51:34  25
125087 -1.426010  37.004792  2022-03-18 07:52:04  25

[5000 rows x 4 columns],               lat        lon                    t  id
125088  15.424113  74.484155  2022-03-17 17:22:50  26
125089  15.424113  74.484155  2022-03-17 17:23:00  26
125090  15.424113  74.484155  2022-03-17 17:23:10  26
125091  15.424113  74.484155  2022-03-17 17:23:20  26
125092  15.424113  74.484155  2022-03-17 17:23:30  26
...           ...        ...                  ...  ..
130083  14.516943  74.840306  2022-03-18 07:47:11  26
130084  14.517561  74.839638  2022-03-18 07:47:20  26
130085  14.518300  74.838961  2022-03-18 07:47:31  26
130086  14.519105  74.838360  2022-03-18 07:47:41  26
130087  14.520068  74.837840  2022-03-18 07:47:50  26

[5000 rows x 4 columns],               lat        lon                    t  id
130088  40.422142  49.882332  2022-03-14 03:56:38  27
130089  40.422167  49.882308  2022-03-14 03:57:10  27
130090  40.422213  49.882379  2022-03-14 03:57:42  27
130091  40.422252  49.882446  2022-03-14 03:58:14  27
130092  40.422250  49.882431  2022-03-14 03:58:46  27
...           ...        ...                  ...  ..
135083  40.415810  49.879017  2022-03-18 07:51:32  27
135084  40.416319  49.878864  2022-03-18 07:51:45  27
135085  40.416622  49.878754  2022-03-18 07:51:56  27
135086  40.417600  49.878434  2022-03-18 07:52:09  27
135087  40.418110  49.878259  2022-03-18 07:52:17  27

[5000 rows x 4 columns],               lat        lon                    t  id
135088 -11.882240 -77.068708  2022-03-14 21:25:09  28
135089 -11.874988 -77.069115  2022-03-14 21:26:09  28
135090 -11.874768 -77.069137  2022-03-14 21:26:18  28
135091 -11.874712 -77.069140  2022-03-14 21:26:21  28
135092 -11.872407 -77.069425  2022-03-14 21:27:09  28
...           ...        ...                  ...  ..
140083 -18.120880 -70.380140  2022-03-18 07:50:42  28
140084 -18.118948 -70.375912  2022-03-18 07:51:12  28
140085 -18.118562 -70.375027  2022-03-18 07:51:18  28
140086 -18.116430 -70.370375  2022-03-18 07:51:49  28
140087 -18.114970 -70.367185  2022-03-18 07:52:12  28

[5000 rows x 4 columns],              lat         lon                    t  id
140088 -6.652528  146.908600  2022-03-06 10:24:36  29
140089 -6.652528  146.908600  2022-03-06 10:30:36  29
140090 -6.652528  146.908600  2022-03-06 10:36:36  29
140091 -6.652528  146.908600  2022-03-06 10:40:49  29
140092 -6.652528  146.908600  2022-03-06 10:42:36  29
...          ...         ...                  ...  ..
145083 -6.652557  146.908627  2022-03-18 07:34:06  29
145084 -6.652557  146.908627  2022-03-18 07:34:13  29
145085 -6.652557  146.908627  2022-03-18 07:40:07  29
145086 -6.652557  146.908627  2022-03-18 07:46:07  29
145087 -6.652557  146.908627  2022-03-18 07:52:07  29

[5000 rows x 4 columns],               lat        lon                    t  id
145088  13.673406 -86.202482  2022-03-09 20:45:18  30
145089  13.673277 -86.202390  2022-03-09 20:45:19  30
145090  13.673049 -86.202106  2022-03-09 20:45:23  30
145091  13.671519 -86.199048  2022-03-09 20:45:49  30
145092  13.671502 -86.198851  2022-03-09 20:45:50  30
...           ...        ...                  ...  ..
150083  13.089437 -86.351466  2022-03-18 07:04:33  30
150084  13.089443 -86.351420  2022-03-18 07:14:33  30
150085  13.089398 -86.351441  2022-03-18 07:24:33  30
150086  13.089448 -86.351454  2022-03-18 07:34:33  30
150087  13.089426 -86.351351  2022-03-18 07:44:33  30

[5000 rows x 4 columns],               lat        lon                    t  id
150088  12.037637 -86.186357  2022-03-16 01:59:01  31
150089  12.037637 -86.186357  2022-03-16 01:59:04  31
150090  12.037638 -86.186380  2022-03-16 01:59:12  31
150091  12.037612 -86.186385  2022-03-16 02:01:02  31
150092  12.037612 -86.186385  2022-03-16 02:02:02  31
...           ...        ...                  ...  ..
155083  12.036873 -86.184723  2022-03-18 07:21:46  31
155084  12.036943 -86.184700  2022-03-18 07:27:58  31

[              lat        lon                    t  id
155088  28.567281  77.133985  2022-03-11 08:17:41  32
155089  28.568371  77.134050  2022-03-11 08:17:52  32
155090  28.569475  77.134160  2022-03-11 08:18:00  32
155091  28.570440  77.134508  2022-03-11 08:18:12  32
155092  28.571293  77.135171  2022-03-11 08:18:20  32
...           ...        ...                  ...  ..
160083  28.169895  76.691065  2022-03-12 10:59:27  32
160084  28.169895  76.691065  2022-03-12 10:59:37  32
160085  28.169895  76.691065  2022-03-12 10:59:47  32
160086  28.169895  76.691065  2022-03-12 10:59:57  32
160087  28.169895  76.691065  2022-03-12 10:59:57  32

[5000 rows x 4 columns],              lat        lon                    t  id
160088 -27.41333  152.97402  2022-03-09 20:20:39  33
160089 -27.41326  152.97395  2022-03-09 20:20:42  33
160090 -27.41197  152.97131  2022-03-09 20:21:22  33
160091 -27.41034  152.96799  2022-03-09 20:22:22  33
160092 -27.40998  152.96689  2022-03-09 20:22:31  33
...          ...        ...                  ...  ..
165081 -27.77486  153.25604  2022-03-17 22:39:47  33
165082 -27.77486  153.25604  2022-03-17 22:42:18  33
165083 -27.77495  153.25621  2022-03-17 23:07:12  33
165084 -27.77510  153.25601  2022-03-18 04:24:24  33
165085 -27.77491  153.25613  2022-03-18 05:31:45  33

[4998 rows x 4 columns],               lat        lon                    t  id
165086  57.647887  39.825175  2022-02-21 21:48:57  34
165087  57.647992  39.825197  2022-02-21 21:49:00  34
165088  57.648127  39.825200  2022-02-21 21:49:04  34
165089  57.648263  39.825218  2022-02-21 21:49:08  34
165090  57.648490  39.825230  2022-02-21 21:49:16  34
...           ...        ...                  ...  ..
170081  57.673523  39.819028  2022-03-17 08:41:32  34
170082  57.673592  39.819113  2022-03-17 08:41:48  34
170083  57.673540  39.819367  2022-03-17 08:41:56  34
170084  57.673507  39.819527  2022-03-17 08:42:03  34
170085  57.673503  39.819650  2022-03-17 08:42:18  34

[5000 rows x 4 columns],               lat        lon                    t  id
170086  53.350815  51.327126  2022-03-16 01:43:56  35
170087  53.350780  51.327061  2022-03-16 01:43:57  35
170088  53.350708  51.326912  2022-03-16 01:43:59  35
170089  53.350441  51.326416  2022-03-16 01:44:05  35
170090  53.350349  51.326187  2022-03-16 01:44:07  35
...           ...        ...                  ...  ..
175081  53.417015  50.334652  2022-03-18 07:52:16  35
175082  53.416836  50.335220  2022-03-18 07:52:19  35
175083  53.416733  50.335613  2022-03-18 07:52:21  35
175084  53.416618  50.336246  2022-03-18 07:52:24  35
175085  53.416561  50.336693  2022-03-18 07:52:26  35

[5000 rows x 4 columns],              lat         lon                    t  id
175086 -9.453595  147.186585  2022-03-14 08:09:16  36
175087 -9.453615  147.186583  2022-03-14 08:09:17  36
175088 -9.453647  147.186592  2022-03-14 08:09:19  36
175089 -9.453892  147.186747  2022-03-14 08:09:34  36
175090 -9.453900  147.186758  2022-03-14 08:09:35  36
...          ...         ...                  ...  ..
180081 -9.450658  147.186645  2022-03-18 07:25:50  36
180082 -9.450658  147.186645  2022-03-18 07:32:04  36
180083 -9.450717  147.186653  2022-03-18 07:38:25  36
180084 -9.450537  147.186680  2022-03-18 07:45:01  36
180085 -9.450452  147.186722  2022-03-18 07:51:33  36

[5000 rows x 4 columns],               lat        lon                    t  id
180086  32.727513  74.899490  2022-03-17 07:18:21  37
180087  32.727422  74.898385  2022-03-17 07:18:31  37
180088  32.727293  74.897282  2022-03-17 07:18:40  37
180089  32.726853  74.896223  2022-03-17 07:18:49  37
180090  32.726672  74.895940  2022-03-17 07:18:52  37
...           ...        ...                  ...  ..
185081  32.707623  74.888105  2022-03-18 07:49:35  37
185082  32.707623  74.888105  2022-03-18 07:50:05  37
185083  32.707623  74.888105  2022-03-18 07:50:35  37
185084  32.707623  74.888105  2022-03-18 07:51:05  37
185085  32.707623  74.888105  2022-03-18 07:51:35  37

[5000 rows x 4 columns],               lat        lon                    t  id
185086  52.569267  39.510390  2022-03-05 19:16:05  38
185087  52.569267  39.510390  2022-03-05 19:26:06  38
185088  52.569267  39.510390  2022-03-05 19:36:07  38
185089  52.569267  39.510390  2022-03-05 19:46:08  38
185090  52.569267  39.510390  2022-03-05 19:56:09  38
...           ...        ...                  ...  ..
190081  52.037795  40.549907  2022-03-18 07:43:11  38
190082  52.037777  40.549927  2022-03-18 07:43:30  38
190083  52.037777  40.549722  2022-03-18 07:43:58  38
190084  52.037777  40.549722  2022-03-18 07:44:11  38
190085  52.037777  40.549722  2022-03-18 07:44:20  38

[5000 rows x 4 columns],               lat        lon                    t  id
190086 -11.991110 -77.002767  2021-11-17 23:22:35  39
190087 -11.990777 -77.003547  2021-11-17 23:23:05  39
190088 -11.990472 -77.004318  2021-11-17 23:23:35  39
190089 -11.990345 -77.004613  2021-11-17 23:24:05  39
190090 -11.990220 -77.005082  2021-11-17 23:24:35  39
...           ...        ...                  ...  ..
195081 -12.087765 -76.863025  2021-12-06 17:14:45  39
195082 -12.087765 -76.863025  2021-12-06 17:15:15  39
195083 -12.087765 -76.863025  2021-12-06 17:16:13  39
195084 -12.087765 -76.863025  2021-12-06 17:16:43  39
195085 -12.087765 -76.863025  2021-12-06 17:17:13  39

[5000 rows x 4 columns]]
[              lat        lon                    t  id
195086  47.903744  40.480584  2022-02-01 01:52:46  40
195087  47.903792  40.480508  2022-02-01 01:55:50  40
195088  47.903792  40.480516  2022-02-01 02:00:50  40
195089  47.903792  40.480516  2022-02-01 02:05:50  40
195090  47.903792  40.480516  2022-02-01 02:10:50  40
...           ...        ...                  ...  ..
200081  47.907164  40.475488  2022-03-18 07:45:50  40
200082  47.907052  40.475396  2022-03-18 07:46:07  40
200083  47.907056  40.475460  2022-03-18 07:46:22  40
200084  47.907160  40.475708  2022-03-18 07:48:21  40
200085  47.907176  40.475592  2022-03-18 07:48:54  40

[5000 rows x 4 columns],               lat        lon                    t  id
200086  55.339113  37.802358  2022-02-15 18:09:44  41
200087  55.339017  37.803722  2022-02-15 18:09:48  41
200088  55.338588  37.809450  2022-02-15 18:10:10  41
200089  55.338622  37.810737  2022-02-15 18:10:15  41
200090  55.338700  37.812878  2022-02-15 18:10:22  41
...           ...        ...                  ...  ..
205081  55.314347  38.690960  2022-03-10 12:48:08  41
205082  55.314347  38.690960  2022-03-10 12:53:09  41
205083  55.314347  38.690960  2022-03-10 12:58:09  41
205084  55.314347  38.690960  2022-03-10 13:03:10  41
205085  55.314347  38.690960  2022-03-10 13:08:10  41

[5000 rows x 4 columns],               lat        lon                    t  id
205086  52.722893  85.380501  2021-12-02 10:47:37  42
205087  52.723610  85.380844  2021-12-02 10:47:42  42
205088  52.726562  85.381508  2021-12-02 10:48:01  42
205089  52.727028  85.381966  2021-12-02 10:48:05  42
205090  52.728313  85.383530  2021-12-02 10:48:16  42
...           ...        ...                  ...  ..
210081  52.930721  86.076820  2022-02-27 08:54:16  42
210082  52.930721  86.076820  2022-02-27 08:54:40  42
210083  52.930779  86.076836  2022-02-27 08:55:32  42
210084  52.930779  86.076836  2022-02-27 08:56:05  42
210085  52.930866  86.077103  2022-02-27 08:58:21  42

[5000 rows x 4 columns],               lat        lon                    t  id
210086  51.729393  75.339478  2022-03-17 05:22:17  43
210087  51.729393  75.339478  2022-03-17 05:22:17  43
210088  51.728962  75.339742  2022-03-17 05:22:23  43
210089  51.728962  75.339742  2022-03-17 05:22:23  43
210090  51.728968  75.340055  2022-03-17 05:22:29  43
...           ...        ...                  ...  ..
215081  51.728642  75.341595  2022-03-18 07:33:58  43
215082  51.728643  75.341590  2022-03-18 07:41:58  43
215083  51.728643  75.341590  2022-03-18 07:49:58  43
215084  51.728608  75.341540  2022-03-18 07:50:04  43
215085  51.728602  75.341533  2022-03-18 07:50:36  43

[5000 rows x 4 columns],               lat        lon                    t  id
215086  56.549535  36.515343  2022-03-16 00:35:55  44
215087  56.551382  36.514102  2022-03-16 00:36:06  44
215088  56.553088  36.512930  2022-03-16 00:36:17  44
215089  56.553843  36.512435  2022-03-16 00:36:23  44
215090  56.554142  36.512237  2022-03-16 00:36:26  44
...           ...        ...                  ...  ..
220081  60.054563  30.426712  2022-03-18 07:35:27  44
220082  60.054563  30.426712  2022-03-18 07:38:57  44
220083  60.054563  30.426712  2022-03-18 07:42:27  44
220084  60.054563  30.426712  2022-03-18 07:45:58  44
220085  60.054563  30.426712  2022-03-18 07:49:28  44

[5000 rows x 4 columns],               lat       lon                    t  id
220086  48.219472  29.27795  2021-12-22 08:48:26  45
220087  48.219472  29.27795  2021-12-22 08:53:26  45
220088  48.219472  29.27795  2021-12-22 08:58:27  45
220089  48.219472  29.27795  2021-12-22 09:03:27  45
220090  48.219472  29.27795  2021-12-22 09:08:28  45
...           ...       ...                  ...  ..
225081  48.219483  29.27794  2022-01-08 17:47:35  45
225082  48.219473  29.27798  2022-01-08 17:52:36  45
225083  48.219473  29.27798  2022-01-08 17:57:36  45
225084  48.219473  29.27798  2022-01-08 18:02:37  45
225085  48.219473  29.27798  2022-01-08 18:07:37  45

[5000 rows x 4 columns],               lat        lon                    t  id
225086  46.519720  24.608178  2022-03-01 13:25:17  46
225087  46.519720  24.608178  2022-03-01 13:25:17  46
225088  46.519720  24.608178  2022-03-01 13:25:24  46
225089  46.519720  24.608178  2022-03-01 13:25:24  46
225090  46.519720  24.608178  2022-03-01 13:25:28  46
...           ...        ...                  ...  ..
230081  46.528128  24.679748  2022-03-18 07:05:34  46
230082  46.528128  24.679748  2022-03-18 07:15:34  46
230083  46.528128  24.679748  2022-03-18 07:25:36  46
230084  46.528128  24.679748  2022-03-18 07:35:37  46
230085  46.528128  24.679748  2022-03-18 07:45:38  46

[5000 rows x 4 columns],               lat        lon                    t  id
230086  50.271092  83.161220  2022-03-14 13:11:50  47
230087  50.271212  83.154085  2022-03-14 13:12:18  47
230088  50.270225  83.147112  2022-03-14 13:12:47  47
230089  50.269053  83.140123  2022-03-14 13:13:16  47
230090  50.268353  83.133057  2022-03-14 13:13:46  47
...           ...        ...                  ...  ..
235081  49.713225  84.252435  2022-03-18 07:50:06  47
235082  49.713225  84.252435  2022-03-18 07:50:36  47
235083  49.713225  84.252435  2022-03-18 07:51:06  47
235084  49.713227  84.252435  2022-03-18 07:51:36  47
235085  49.713227  84.252435  2022-03-18 07:52:06  47

[5000 rows x 4 columns]]

[              lat        lon                    t  id
235086  54.566753  36.351162  2022-03-14 16:24:01  48
235087  54.566173  36.350892  2022-03-14 16:24:11  48
235088  54.565560  36.350770  2022-03-14 16:24:23  48
235089  54.565452  36.351148  2022-03-14 16:24:27  48
235090  54.565425  36.351387  2022-03-14 16:24:28  48
...           ...        ...                  ...  ..
240081  46.309478  44.233198  2022-03-18 07:33:45  48
240082  46.309478  44.233198  2022-03-18 07:37:45  48
240083  46.309478  44.233198  2022-03-18 07:41:45  48
240084  46.309478  44.233198  2022-03-18 07:45:45  48
240085  46.309478  44.233198  2022-03-18 07:49:45  48

[5000 rows x 4 columns],              lat        lon                    t  id
240086  6.281777 -75.644924  2022-03-15 01:45:26  49
240087  6.281777 -75.644924  2022-03-15 01:45:26  49
240088  6.281777 -75.644924  2022-03-15 01:45:39  49
240089  6.281803 -75.644924  2022-03-15 01:45:52  49
240090  6.281790 -75.644898  2022-03-15 01:47:22  49
...          ...        ...                  ...  ..
244955  6.279143 -75.645404  2022-03-18 04:59:37  49
244956  6.280579 -75.643316  2022-03-18 05:37:32  49
244957  6.280336 -75.643218  2022-03-18 06:16:41  49
244958  6.280525 -75.643307  2022-03-18 06:36:37  49
244959  6.280662 -75.643556  2022-03-18 07:36:40  49

[4874 rows x 4 columns],               lat        lon                    t  id
244960  55.102838  84.674462  2022-03-18 02:22:34  50
244961  55.102602  84.675507  2022-03-18 02:22:37  50
244962  55.102343  84.676542  2022-03-18 02:22:40  50
244963  55.102098  84.677612  2022-03-18 02:22:43  50
244964  55.101863  84.678623  2022-03-18 02:22:46  50
...           ...        ...                  ...  ..
249955  54.666283  85.867538  2022-03-18 07:52:20  50
249956  54.666180  85.866467  2022-03-18 07:52:23  50
249957  54.666073  85.865393  2022-03-18 07:52:26  50
249958  54.665958  85.864308  2022-03-18 07:52:29  50
249959  54.665852  85.863213  2022-03-18 07:52:32  50

[5000 rows x 4 columns],               lat        lon                    t  id
249960  56.008937  92.811650  2022-03-15 05:17:04  51
249961  56.008860  92.813513  2022-03-15 05:17:23  51
249962  56.008832  92.813732  2022-03-15 05:17:26  51
249963  56.008748  92.813770  2022-03-15 05:17:29  51
249964  56.007737  92.813807  2022-03-15 05:17:39  51
...           ...        ...                  ...  ..
254955  56.069618  92.834935  2022-03-18 06:54:02  51
254956  56.069618  92.834935  2022-03-18 06:55:02  51
254957  56.069618  92.834935  2022-03-18 06:56:02  51
254958  56.069618  92.834935  2022-03-18 06:57:02  51
254959  56.069618  92.834935  2022-03-18 06:57:03  51

[5000 rows x 4 columns],               lat        lon                    t  id
254960  51.146392  71.342938  2022-03-16 08:19:11  52
254961  51.146675  71.344378  2022-03-16 08:19:20  52
254962  51.146975  71.345858  2022-03-16 08:19:27  52
254963  51.147253  71.347270  2022-03-16 08:19:34  52
254964  51.147563  71.348765  2022-03-16 08:19:51  52
...           ...        ...                  ...  ..
259955  51.116847  71.392163  2022-03-18 07:15:48  52
259956  51.116847  71.392163  2022-03-18 07:16:17  52
259957  51.116847  71.392163  2022-03-18 07:16:19  52
259958  51.116847  71.392163  2022-03-18 07:21:19  52
259959  51.116847  71.392163  2022-03-18 07:26:19  52

[5000 rows x 4 columns],               lat        lon                    t  id
259960  55.803425  49.040306  2022-03-13 03:48:23  53
259961  55.803425  49.040306  2022-03-13 03:52:23  53
259962  55.803425  49.040306  2022-03-13 03:56:22  53
259963  55.803425  49.040306  2022-03-13 04:00:22  53
259964  55.803425  49.040306  2022-03-13 04:04:21  53
...           ...        ...                  ...  ..
264955  55.732887  49.095417  2022-03-18 07:44:29  53
264956  55.732918  49.095531  2022-03-18 07:44:32  53
264957  55.732838  49.095982  2022-03-18 07:48:31  53
264958  55.733009  49.095688  2022-03-18 07:52:16  53
264959  55.733723  49.096695  2022-03-18 07:52:31  53

[5000 rows x 4 columns],               lat        lon                    t  id
264960  57.221377  65.402578  2021-12-14 05:11:09  54
264961  57.221378  65.402578  2021-12-14 05:11:39  54
264962  57.221376  65.402578  2021-12-14 05:12:09  54
264963  57.221377  65.402581  2021-12-14 05:12:39  54
264964  57.221377  65.402581  2021-12-14 05:13:09  54
...           ...        ...                  ...  ..
269955  57.229114  65.548458  2022-03-14 08:29:04  54
269956  57.229114  65.548458  2022-03-14 08:29:34  54
269957  57.229114  65.548458  2022-03-14 08:30:04  54
269958  57.229114  65.548458  2022-03-14 08:30:34  54
269959  57.229114  65.548458  2022-03-14 08:30:52  54

[5000 rows x 4 columns],               lat        lon                    t  id
269960 -12.156955 -77.025140  2022-03-15 18:40:56  55
269961 -12.159710 -77.025520  2022-03-15 18:41:16  55
269962 -12.161943 -77.025822  2022-03-15 18:41:47  55
269963 -12.162052 -77.025707  2022-03-15 18:41:50  55
269964 -12.162062 -77.025590  2022-03-15 18:41:52  55
...           ...        ...                  ...  ..
274955 -10.655625 -77.839033  2022-03-18 07:52:02  55
274956 -10.654348 -77.841502  2022-03-18 07:52:17  55
274957 -10.652875 -77.843863  2022-03-18 07:52:32  55
274958 -10.651115 -77.846148  2022-03-18 07:52:46  55
274959 -10.649345 -77.848438  2022-03-18 07:53:01  55

[5000 rows x 4 columns]]
[              lat         lon                    t  id
274960  31.611027 -106.468365  2022-03-05 18:22:29  56
274961  31.611027 -106.468365  2022-03-05 18:27:29  56
274962  31.611027 -106.468365  2022-03-05 18:32:29  56
274963  31.611027 -106.468365  2022-03-05 18:37:29  56
274964  31.611027 -106.468365  2022-03-05 18:42:29  56
...           ...         ...                  ...  ..
279955  31.611088 -106.468258  2022-03-18 07:28:30  56
279956  31.611072 -106.468292  2022-03-18 07:33:30  56
279957  31.611080 -106.468260  2022-03-18 07:36:28  56
279958  31.611078 -106.468262  2022-03-18 07:41:28  56
279959  31.611078 -106.468262  2022-03-18 07:46:28  56

[5000 rows x 4 columns],               lat        lon                    t  id
279960  53.481408  42.577843  2022-03-11 11:57:18  57
279961  53.481408  42.577843  2022-03-11 11:57:48  57
279962  53.481408  42.577843  2022-03-11 11:58:18  57
279963  53.481408  42.577843  2022-03-11 11:58:48  57
279964  53.481408  42.577843  2022-03-11 11:59:17  57
...           ...        ...                  ...  ..
284955  53.504003  42.628363  2022-03-18 07:50:36  57
284956  53.504003  42.628363  2022-03-18 07:51:06  57
284957  53.504003  42.628363  2022-03-18 07:51:36  57
284958  53.504003  42.628363  2022-03-18 07:52:06  57
284959  53.504003  42.628363  2022-03-18 07:52:36  57

[5000 rows x 4 columns],               lat        lon                    t  id
284960  55.578701  61.317017  2022-03-06 06:32:30  58
284961  55.572449  61.317883  2022-03-06 06:33:00  58
284962  55.566109  61.318745  2022-03-06 06:33:30  58
284963  55.559727  61.319630  2022-03-06 06:34:00  58
284964  55.553211  61.320522  2022-03-06 06:34:30  58
...           ...        ...                  ...  ..
289955  56.797943  60.582100  2022-03-18 07:37:30  58
289956  56.798019  60.582119  2022-03-18 07:39:00  58
289957  56.798061  60.581997  2022-03-18 07:45:00  58
289958  56.798019  60.582119  2022-03-18 07:47:30  58
289959  56.798077  60.582111  2022-03-18 07:52:30  58

[5000 rows x 4 columns],              lat        lon                    t  id
289960 -6.664115  39.168427  2022-02-28 09:38:22  59
289961 -6.664123  39.168432  2022-02-28 09:38:24  59
289962 -6.664123  39.168432  2022-02-28 09:39:22  59
289963 -6.664123  39.168432  2022-02-28 09:40:22  59
289964 -6.664093  39.168343  2022-02-28 09:41:22  59
...          ...        ...                  ...  ..
294955 -6.665463  39.168488  2022-03-18 05:58:40  59
294956 -6.665463  39.168488  2022-03-18 05:59:40  59
294957 -6.665463  39.168488  2022-03-18 06:00:40  59
294958 -6.665463  39.168488  2022-03-18 06:00:53  59
294959 -6.665463  39.168488  2022-03-18 07:00:40  59

[5000 rows x 4 columns],               lat        lon                    t  id
294960  45.717967  44.224272  2022-03-11 20:26:37  60
294961  45.718110  44.226967  2022-03-11 20:26:52  60
294962  45.718252  44.229772  2022-03-11 20:27:07  60
294963  45.718413  44.232715  2022-03-11 20:27:22  60
294964  45.718570  44.235612  2022-03-11 20:27:37  60
...           ...        ...                  ...  ..
299955  44.060258  43.000407  2022-03-18 05:56:31  60
299956  44.060252  43.000383  2022-03-18 05:56:58  60
299957  44.060258  43.000380  2022-03-18 05:57:20  60
299958  44.060267  43.000385  2022-03-18 05:58:01  60
299959  44.060283  43.000402  2022-03-18 05:58:19  60

[5000 rows x 4 columns],               lat        lon                    t  id
299960  55.259415  48.482212  2022-03-10 20:54:07  61
299961  55.259415  48.482212  2022-03-10 20:58:08  61
299962  55.259415  48.482212  2022-03-10 21:02:07  61
299963  55.259415  48.482212  2022-03-10 21:06:07  61
299964  55.259415  48.482212  2022-03-10 21:10:08  61
...           ...        ...                  ...  ..
304955  55.260757  48.483196  2022-03-18 07:35:22  61
304956  55.260757  48.483196  2022-03-18 07:39:23  61
304957  55.260757  48.483196  2022-03-18 07:43:23  61
304958  55.260757  48.483196  2022-03-18 07:47:23  61
304959  55.260757  48.483196  2022-03-18 07:51:23  61

[5000 rows x 4 columns],               lat       lon                    t  id
304960  40.861517 -8.608053  2022-03-16 19:42:49  62
304961  40.861067 -8.607738  2022-03-16 19:42:54  62
304962  40.857083 -8.604972  2022-03-16 19:43:27  62
304963  40.853070 -8.602183  2022-03-16 19:44:08  62
304964  40.852958 -8.602150  2022-03-16 19:44:10  62
...           ...       ...                  ...  ..
309955  40.847937 -8.598345  2022-03-18 07:48:18  62
309956  40.847937 -8.598345  2022-03-18 07:49:18  62
309957  40.847935 -8.598345  2022-03-18 07:50:18  62
309958  40.847933 -8.598343  2022-03-18 07:51:18  62
309959  40.847933 -8.598342  2022-03-18 07:52:18  62

[5000 rows x 4 columns],               lat        lon                    t  id
309960  53.598043  24.693003  2022-03-15 14:45:40  63
309961  53.598043  24.693003  2022-03-15 14:47:40  63
309962  53.598043  24.693003  2022-03-15 14:49:40  63
309963  53.598043  24.693003  2022-03-15 14:51:41  63
309964  53.598043  24.693003  2022-03-15 14:53:41  63
...           ...        ...                  ...  ..
314955  53.585315  24.716565  2022-03-18 07:44:26  63
314956  53.585315  24.716565  2022-03-18 07:46:26  63
314957  53.585315  24.716565  2022-03-18 07:48:26  63
314958  53.585280  24.716602  2022-03-18 07:50:26  63
314959  53.585280  24.716602  2022-03-18 07:52:26  63

[5000 rows x 4 columns]]

[              lat        lon                    t  id
314960  47.086307  51.930202  2022-03-03 05:07:13  64
314961  47.086395  51.930172  2022-03-03 05:07:37  64
314962  47.087002  51.931267  2022-03-03 05:08:02  64
314963  47.086692  51.931613  2022-03-03 05:08:49  64
314964  47.086692  51.931613  2022-03-03 05:08:57  64
...           ...        ...                  ...  ..
319955  43.429607  52.365665  2022-03-18 07:51:08  64
319956  43.431562  52.359868  2022-03-18 07:51:34  64
319957  43.433130  52.354045  2022-03-18 07:51:59  64
319958  43.434892  52.348165  2022-03-18 07:52:25  64
319959  43.436658  52.342395  2022-03-18 07:52:51  64

[5000 rows x 4 columns],               lat        lon                    t  id
319960 -12.049286 -76.961113  2022-03-16 23:38:00  65
319961 -12.049286 -76.961113  2022-03-16 23:38:24  65
319962 -12.049286 -76.961113  2022-03-16 23:38:54  65
319963 -12.049286 -76.961113  2022-03-16 23:39:24  65
319964 -12.049286 -76.961113  2022-03-16 23:39:56  65
...           ...        ...                  ...  ..
324955 -11.827159 -76.368141  2022-03-18 07:50:54  65
324956 -11.827159 -76.368141  2022-03-18 07:51:24  65
324957 -11.827159 -76.368141  2022-03-18 07:51:52  65
324958 -11.827159 -76.368141  2022-03-18 07:52:24  65
324959 -11.827159 -76.368141  2022-03-18 07:52:54  65

[5000 rows x 4 columns],               lat        lon                    t  id
324960 -12.307125 -76.810402  2022-03-16 18:16:52  66
324961 -12.307125 -76.810402  2022-03-16 18:17:24  66
324962 -12.307125 -76.810402  2022-03-16 18:17:56  66
324963 -12.307125 -76.810402  2022-03-16 18:18:26  66
324964 -12.307125 -76.810402  2022-03-16 18:18:56  66
...           ...        ...                  ...  ..
329955 -11.996362 -77.003426  2022-03-18 07:50:54  66
329956 -11.996362 -77.003426  2022-03-18 07:51:22  66
329957 -11.996362 -77.003426  2022-03-18 07:51:54  66
329958 -11.996362 -77.003426  2022-03-18 07:52:22  66
329959 -11.996362 -77.003426  2022-03-18 07:52:52  66

[5000 rows x 4 columns],               lat        lon                    t  id
329960 -11.845597 -77.000868  2022-03-15 22:36:46  67
329961 -11.845632 -77.000902  2022-03-15 22:36:48  67
329962 -11.848175 -77.001965  2022-03-15 22:37:33  67
329963 -11.850897 -77.002385  2022-03-15 22:38:06  67
329964 -11.853493 -77.003323  2022-03-15 22:38:38  67
...           ...        ...                  ...  ..
334955 -11.846855 -76.997733  2022-03-18 07:48:26  67
334956 -11.846855 -76.997733  2022-03-18 07:49:26  67
334957 -11.846855 -76.997733  2022-03-18 07:50:26  67
334958 -11.846855 -76.997733  2022-03-18 07:51:26  67
334959 -11.846855 -76.997733  2022-03-18 07:52:26  67

[5000 rows x 4 columns],               lat        lon                    t  id
334960  50.210958  51.124270  2022-03-15 15:02:19  68
334961  50.208420  51.126187  2022-03-15 15:02:36  68
334962  50.205972  51.128042  2022-03-15 15:02:52  68
334963  50.203462  51.129998  2022-03-15 15:03:10  68
334964  50.200983  51.131920  2022-03-15 15:03:29  68
...           ...        ...                  ...  ..
339955  47.127197  51.895220  2022-03-18 07:48:23  68
339956  47.127197  51.895220  2022-03-18 07:49:23  68
339957  47.127197  51.895220  2022-03-18 07:50:23  68
339958  47.127197  51.895220  2022-03-18 07:51:23  68
339959  47.127197  51.895220  2022-03-18 07:52:23  68

[5000 rows x 4 columns],               lat        lon                    t  id
339960  57.732045  34.168895  2022-03-14 14:13:24  69
339961  57.728418  34.174135  2022-03-14 14:13:46  69
339962  57.724738  34.179120  2022-03-14 14:14:08  69
339963  57.722152  34.182323  2022-03-14 14:14:24  69
339964  57.718282  34.187068  2022-03-14 14:14:45  69
...           ...        ...                  ...  ..
344955  59.779763  30.448263  2022-03-18 07:37:17  69
344956  59.779763  30.448263  2022-03-18 07:37:57  69
344957  59.779763  30.448263  2022-03-18 07:47:58  69
344958  59.779763  30.448263  2022-03-18 07:48:39  69
344959  59.779763  30.448263  2022-03-18 07:49:19  69

[5000 rows x 4 columns],               lat        lon                    t  id
344960 -12.072914 -77.032333  2022-03-15 15:55:12  70
344961 -12.072844 -77.031929  2022-03-15 15:55:26  70
344962 -12.072735 -77.031662  2022-03-15 15:55:36  70
344963 -12.072652 -77.031685  2022-03-15 15:55:46  70
344964 -12.072652 -77.031670  2022-03-15 15:56:02  70
...           ...        ...                  ...  ..
349955 -12.201180 -76.972069  2022-03-17 22:21:06  70
349956 -12.201180 -76.972069  2022-03-17 22:21:38  70
349957 -12.201180 -76.972069  2022-03-17 22:22:08  70
349958 -12.201180 -76.972069  2022-03-17 22:22:38  70
349959 -12.201180 -76.972069  2022-03-17 22:23:08  70

[5000 rows x 4 columns],              lat      lon                    t  id
349960  54.68089 -6.01416  2022-03-07 09:01:32  71
349961  54.68110 -6.01364  2022-03-07 09:02:10  71
349962  54.68121 -6.01336  2022-03-07 09:02:15  71
349963  54.68136 -6.01341  2022-03-07 09:03:11  71
349964  54.68136 -6.01341  2022-03-07 09:04:11  71
...          ...      ...                  ...  ..
354955  54.64397 -5.83454  2022-03-18 07:51:08  71
354956  54.64380 -5.83492  2022-03-18 07:51:10  71
354957  54.63626 -5.84441  2022-03-18 07:52:11  71
354958  54.63367 -5.84674  2022-03-18 07:52:24  71
354959  54.62534 -5.85465  2022-03-18 07:53:11  71

[5000 rows x 4 columns]]
[            lat      lon                    t  id
354960  53.6459  23.7749  2022-03-14 18:49:08  72
354961  53.6459  23.7749  2022-03-14 18:50:13  72
354962  53.6459  23.7749  2022-03-14 18:51:18  72
354963  53.6459  23.7749  2022-03-14 18:52:23  72
354964  53.6459  23.7749  2022-03-14 18:53:28  72
...         ...      ...                  ...  ..
359955  53.9827  24.0046  2022-03-18 07:47:50  72
359956  53.9827  24.0046  2022-03-18 07:48:55  72
359957  53.9827  24.0046  2022-03-18 07:50:03  72
359958  53.9827  24.0046  2022-03-18 07:51:05  72
359959  53.9827  24.0046  2022-03-18 07:52:10  72

[5000 rows x 4 columns],               lat        lon                    t  id
359960  64.418945  76.384646  2022-02-18 12:02:11  73
359961  64.420908  76.387521  2022-02-18 12:02:27  73
359962  64.422881  76.390256  2022-02-18 12:02:46  73
359963  64.424863  76.393113  2022-02-18 12:03:07  73
359964  64.426830  76.395928  2022-02-18 12:03:30  73
...           ...        ...                  ...  ..
364955  64.435656  76.429530  2022-03-02 17:25:17  73
364956  64.435615  76.429531  2022-03-02 17:25:25  73
364957  64.435538  76.429505  2022-03-02 17:25:39  73
364958  64.435586  76.429606  2022-03-02 17:26:09  73
364959  64.435586  76.429606  2022-03-02 17:26:11  73

[5000 rows x 4 columns],               lat        lon                    t  id
364960 -12.045834 -77.125885  2022-03-16 12:08:20  74
364961 -12.045834 -77.125885  2022-03-16 12:08:48  74
364962 -12.045834 -77.125885  2022-03-16 12:08:52  74
364963 -12.045834 -77.125885  2022-03-16 12:09:24  74
364964 -12.045834 -77.125885  2022-03-16 12:09:50  74
...           ...        ...                  ...  ..
369955 -12.045855 -77.125916  2022-03-18 02:07:02  74
369956 -12.045855 -77.125916  2022-03-18 02:07:08  74
369957 -12.045855 -77.125916  2022-03-18 02:07:38  74
369958 -12.045855 -77.125916  2022-03-18 02:08:08  74
369959 -12.045855 -77.125916  2022-03-18 02:08:38  74

[5000 rows x 4 columns],               lat        lon                    t  id
369960  47.151387  52.024633  2022-01-22 17:38:03  75
369961  47.151387  52.024633  2022-01-22 17:39:03  75
369962  47.151387  52.024633  2022-01-22 17:40:03  75
369963  47.151387  52.024633  2022-01-22 17:41:03  75
369964  47.151387  52.024633  2022-01-22 17:42:03  75
...           ...        ...                  ...  ..
374955  47.188047  51.955198  2022-02-09 07:23:09  75
374956  47.188047  51.955198  2022-02-09 07:23:13  75
374957  47.188047  51.955198  2022-02-09 07:23:25  75
374958  47.188047  51.955198  2022-02-09 07:23:26  75
374959  47.188047  51.955198  2022-02-09 07:24:26  75

[5000 rows x 4 columns],             lat      lon                    t  id
374960  51.0845  19.3757  2022-03-15 09:10:15  76
374961  51.0847  19.3758  2022-03-15 09:10:50  76
374962  51.0842  19.3763  2022-03-15 09:11:25  76
374963  51.0841  19.3772  2022-03-15 09:12:00  76
374964  51.0837  19.3777  2022-03-15 09:12:30  76
...         ...      ...                  ...  ..
379955  48.0578  18.9662  2022-03-18 07:38:37  76
379956  48.0578  18.9662  2022-03-18 07:41:42  76
379957  48.0578  18.9662  2022-03-18 07:44:50  76
379958  48.0578  18.9662  2022-03-18 07:47:52  76
379959  48.0578  18.9662  2022-03-18 07:50:57  76

[5000 rows x 4 columns],               lat        lon                    t  id
379960 -12.461531 -76.752464  2022-03-14 18:58:02  77
379961 -12.463990 -76.752220  2022-03-14 18:58:24  77
379962 -12.465035 -76.752335  2022-03-14 18:58:36  77
379963 -12.465219 -76.752228  2022-03-14 18:58:48  77
379964 -12.465222 -76.752167  2022-03-14 18:58:52  77
...           ...        ...                  ...  ..
384955 -13.931933 -75.900032  2022-03-18 07:50:46  77
384956 -13.931933 -75.900032  2022-03-18 07:51:16  77
384957 -13.931933 -75.900032  2022-03-18 07:51:46  77
384958 -13.931933 -75.900032  2022-03-18 07:52:16  77
384959 -13.931933 -75.900032  2022-03-18 07:52:48  77

[5000 rows x 4 columns],               lat        lon                    t  id
384960  48.201740  57.219843  2022-03-16 08:42:19  78
384961  48.201740  57.219843  2022-03-16 08:43:01  78
384962  48.201740  57.219843  2022-03-16 08:43:16  78
384963  48.201740  57.219843  2022-03-16 08:43:29  78
384964  48.201740  57.219843  2022-03-16 08:43:38  78
...           ...        ...                  ...  ..
389955  47.107058  51.962057  2022-03-18 07:51:10  78
389956  47.107058  51.962057  2022-03-18 07:51:58  78
389957  47.107058  51.962057  2022-03-18 07:52:22  78
389958  47.107058  51.962057  2022-03-18 07:52:42  78
389959  47.107058  51.962057  2022-03-18 07:52:55  78

[5000 rows x 4 columns],               lat        lon                    t  id
389960  46.383590  53.471972  2022-03-17 08:46:14  79
389961  46.383563  53.472072  2022-03-17 08:46:17  79
389962  46.383535  53.472387  2022-03-17 08:46:28  79
389963  46.383540  53.472408  2022-03-17 08:46:29  79
389964  46.383523  53.472453  2022-03-17 08:46:31  79
...           ...        ...                  ...  ..
394955  46.960195  54.031607  2022-03-18 07:04:35  79
394956  46.960200  54.031648  2022-03-18 07:04:43  79
394957  46.960198  54.031675  2022-03-18 07:04:44  79
394958  46.960215  54.031717  2022-03-18 07:04:55  79
394959  46.960212  54.031718  2022-03-18 07:04:57  79

[5000 rows x 4 columns]]
[              lat         lon                    t  id
394960  25.690491 -100.493439  2022-03-10 15:50:10  80
394961  25.690491 -100.493439  2022-03-10 15:51:10  80
394962  25.690491 -100.493439  2022-03-10 15:52:10  80
394963  25.690479 -100.493477  2022-03-10 15:53:00  80
394964  25.690531 -100.493500  2022-03-10 15:53:05  80
...           ...         ...                  ...  ..
399955  25.757750 -100.559067  2022-03-18 05:35:44  80
399956  25.757750 -100.559067  2022-03-18 06:05:39  80
399957  25.757750 -100.559067  2022-03-18 06:35:34  80
399958  25.757750 -100.559067  2022-03-18 07:05:29  80
399959  25.757750 -100.559067  2022-03-18 07:35:23  80

[5000 rows x 4 columns],              lat       lon                    t  id
399960  6.552445 -0.794820  2022-03-16 20:19:55  81
399961  6.553357 -0.795247  2022-03-16 20:20:00  81
399962  6.554175 -0.795655  2022-03-16 20:20:05  81
399963  6.555100 -0.796125  2022-03-16 20:20:11  81
399964  6.555943 -0.796667  2022-03-16 20:20:17  81
...          ...       ...                  ...  ..
404955  6.936672 -1.488367  2022-03-18 07:52:50  81
404956  6.937582 -1.488108  2022-03-18 07:52:57  81
404957  6.938522 -1.487792  2022-03-18 07:53:04  81
404958  6.939413 -1.487500  2022-03-18 07:53:10  81
404959  6.940392 -1.487158  2022-03-18 07:53:16  81

[5000 rows x 4 columns],               lat         lon                    t  id
404960  25.882339 -100.236519  2022-03-12 19:16:56  82
404961  25.882339 -100.236519  2022-03-12 19:46:59  82
404962  25.882339 -100.236519  2022-03-12 20:17:03  82
404963  25.882339 -100.236519  2022-03-12 20:18:54  82
404964  25.882339 -100.236519  2022-03-12 20:19:04  82
...           ...         ...                  ...  ..
409955  25.880819 -100.236763  2022-03-18 05:14:49  82
409956  25.880819 -100.236763  2022-03-18 05:44:48  82
409957  25.880819 -100.236763  2022-03-18 06:14:46  82
409958  25.880819 -100.236763  2022-03-18 06:44:47  82
409959  25.880819 -100.236763  2022-03-18 07:31:49  82

[5000 rows x 4 columns],               lat         lon                    t  id
409960  25.705657 -103.369910  2022-03-14 23:42:38  83
409961  25.696188 -103.379005  2022-03-14 23:43:38  83
409962  25.692223 -103.382812  2022-03-14 23:44:38  83
409963  25.690055 -103.384898  2022-03-14 23:45:38  83
409964  25.685493 -103.389295  2022-03-14 23:46:38  83
...           ...         ...                  ...  ..
414955  25.604020 -103.441963  2022-03-18 07:49:19  83
414956  25.604020 -103.441963  2022-03-18 07:50:20  83
414957  25.604020 -103.441963  2022-03-18 07:51:19  83
414958  25.604020 -103.441963  2022-03-18 07:52:19  83
414959  25.604020 -103.441963  2022-03-18 07:53:19  83

[5000 rows x 4 columns],               lat        lon                    t  id
414960  54.860168  58.541126  2022-03-16 03:53:12  84
414961  54.859680  58.542046  2022-03-16 03:53:16  84
414962  54.859364  58.542728  2022-03-16 03:53:19  84
414963  54.858994  58.543758  2022-03-16 03:53:23  84
414964  54.858658  58.544895  2022-03-16 03:53:27  84
...           ...        ...                  ...  ..
419955  56.694180  60.879234  2022-03-18 07:46:50  84
419956  56.694180  60.879234  2022-03-18 07:48:20  84
419957  56.694180  60.879234  2022-03-18 07:49:50  84
419958  56.694180  60.879234  2022-03-18 07:51:20  84
419959  56.694180  60.879234  2022-03-18 07:52:50  84

[5000 rows x 4 columns],               lat         lon                    t  id
419960  21.367500 -101.943998  2022-03-12 14:17:36  85
419961  21.368087 -101.943082  2022-03-12 14:19:36  85
419962  21.368208 -101.943002  2022-03-12 14:19:50  85
419963  21.368428 -101.943133  2022-03-12 14:20:00  85
419964  21.370560 -101.944730  2022-03-12 14:21:11  85
...           ...         ...                  ...  ..
424955  21.350170 -101.929007  2022-03-18 05:28:16  85
424956  21.350170 -101.929007  2022-03-18 05:58:16  85
424957  21.350138 -101.929060  2022-03-18 06:28:16  85
424958  21.350138 -101.929060  2022-03-18 06:58:16  85
424959  21.350088 -101.928930  2022-03-18 07:28:16  85

[5000 rows x 4 columns],               lat        lon                    t  id
424960  17.976752 -92.973213  2022-03-12 13:48:29  86
424961  17.976752 -92.973213  2022-03-12 13:48:29  86
424962  17.978713 -92.973973  2022-03-12 13:49:29  86
424963  17.986280 -92.967925  2022-03-12 13:50:29  86
424964  17.986597 -92.967647  2022-03-12 13:51:29  86
...           ...        ...                  ...  ..
429955  17.938455 -92.978001  2022-03-18 07:38:22  86
429956  17.938455 -92.978001  2022-03-18 07:39:22  86
429957  17.938455 -92.978001  2022-03-18 07:40:22  86
429958  17.938455 -92.978001  2022-03-18 07:41:22  86
429959  17.938455 -92.978001  2022-03-18 07:42:22  86

[5000 rows x 4 columns],               lat        lon                    t  id
429960  56.095490  49.869565  2022-03-14 13:03:36  87
429961  56.095548  49.869437  2022-03-14 13:03:40  87
429962  56.095588  49.869217  2022-03-14 13:03:46  87
429963  56.095625  49.868993  2022-03-14 13:03:52  87
429964  56.095717  49.868873  2022-03-14 13:03:55  87
...           ...        ...                  ...  ..
434955  56.096200  49.871413  2022-03-18 07:42:47  87
434956  56.096232  49.871367  2022-03-18 07:43:29  87
434957  56.096232  49.871367  2022-03-18 07:43:29  87
434958  56.096235  49.871343  2022-03-18 07:43:33  87
434959  56.096233  49.871315  2022-03-18 07:44:05  87

[5000 rows x 4 columns]]
[              lat        lon                    t  id
434960  56.063342  49.852585  2022-02-28 09:35:05  88
434961  56.063315  49.852385  2022-02-28 09:35:06  88
434962  56.063310  49.852168  2022-02-28 09:35:07  88
434963  56.063325  49.851972  2022-02-28 09:35:08  88
434964  56.063343  49.851775  2022-02-28 09:35:09  88
...           ...        ...                  ...  ..
439955  56.095110  49.867987  2022-03-18 07:09:53  88
439956  56.095110  49.867987  2022-03-18 07:19:53  88
439957  56.095110  49.867987  2022-03-18 07:29:53  88
439958  56.095110  49.867987  2022-03-18 07:39:53  88
439959  56.095110  49.867987  2022-03-18 07:49:53  88

[5000 rows x 4 columns],               lat         lon                    t  id
439960  47.332806  142.785575  2022-03-09 21:03:53  89
439961  47.332806  142.785575  2022-03-09 21:04:54  89
439962  47.332806  142.785575  2022-03-09 21:05:54  89
439963  47.332806  142.785575  2022-03-09 21:06:54  89
439964  47.332806  142.785575  2022-03-09 21:07:55  89
...           ...         ...                  ...  ..
444955  47.332823  142.785645  2022-03-16 04:58:41  89
444956  47.332823  142.785645  2022-03-16 04:59:41  89
444957  47.332823  142.785645  2022-03-16 05:00:42  89
444958  47.332823  142.785645  2022-03-16 05:01:42  89
444959  47.332823  142.785645  2022-03-16 05:02:42  89

[5000 rows x 4 columns],               lat        lon                    t  id
444960  56.232660  38.135388  2022-03-16 13:03:01  90
444961  56.234532  38.139340  2022-03-16 13:03:18  90
444962  56.236292  38.143076  2022-03-16 13:03:34  90
444963  56.238088  38.146832  2022-03-16 13:03:50  90
444964  56.239940  38.150472  2022-03-16 13:04:06  90
...           ...        ...                  ...  ..
449955  55.673608  50.768588  2022-03-18 07:52:11  90
449956  55.672040  50.772504  2022-03-18 07:52:27  90
449957  55.670224  50.776108  2022-03-18 07:52:43  90
449958  55.668376  50.779620  2022-03-18 07:52:59  90
449959  55.666520  50.783144  2022-03-18 07:53:15  90

[5000 rows x 4 columns],               lat        lon                    t  id
449960  55.923038  37.414585  2022-03-11 17:57:36  91
449961  55.923038  37.414585  2022-03-11 18:02:36  91
449962  55.923038  37.414585  2022-03-11 18:07:36  91
449963  55.923038  37.414585  2022-03-11 18:12:36  91
449964  55.923038  37.414585  2022-03-11 18:17:36  91
...           ...        ...                  ...  ..
454955  55.673939  37.927406  2022-03-18 07:41:52  91
454956  55.673939  37.927406  2022-03-18 07:42:02  91
454957  55.673813  37.927433  2022-03-18 07:42:12  91
454958  55.673813  37.927433  2022-03-18 07:47:12  91
454959  55.673813  37.927433  2022-03-18 07:52:12  91

[5000 rows x 4 columns],               lat        lon                    t  id
454960  38.940363 -94.538885  2022-02-09 12:53:58  92
454961  38.938974 -94.547278  2022-02-09 12:54:28  92
454962  38.939466 -94.557565  2022-02-09 12:54:58  92
454963  38.939948 -94.567867  2022-02-09 12:55:28  92
454964  38.940046 -94.569589  2022-02-09 12:55:32  92
...           ...        ...                  ...  ..
459955  39.064359 -94.467587  2022-03-17 18:39:46  92
459956  39.064351 -94.467608  2022-03-18 00:44:11  92
459957  39.064351 -94.467608  2022-03-18 00:44:11  92
459958  39.064306 -94.467571  2022-03-18 06:48:42  92
459959  39.064306 -94.467571  2022-03-18 06:48:42  92

[5000 rows x 4 columns],               lat        lon                    t  id
459960  19.491543 -70.724357  2022-03-15 14:26:17  93
459961  19.491535 -70.724370  2022-03-15 14:26:47  93
459962  19.491534 -70.724369  2022-03-15 14:27:17  93
459963  19.491524 -70.724361  2022-03-15 14:27:47  93
459964  19.491518 -70.724357  2022-03-15 14:28:17  93
...           ...        ...                  ...  ..
464955  18.398233 -70.037572  2022-03-17 23:44:23  93
464956  18.398227 -70.037576  2022-03-17 23:44:38  93
464957  18.398227 -70.037576  2022-03-17 23:44:40  93

[              lat        lon                    t  id
474960 -29.713667 -57.215765  2022-03-08 02:43:13  96
474961 -29.713667 -57.215765  2022-03-08 02:44:56  96
474962 -29.713667 -57.215765  2022-03-08 02:45:09  96
474963 -29.713667 -57.215765  2022-03-08 02:45:36  96
474964 -29.713667 -57.215765  2022-03-08 02:45:56  96
...           ...        ...                  ...  ..
479955 -25.458105 -50.620773  2022-03-18 05:43:29  96
479956 -25.458105 -50.620773  2022-03-18 06:13:29  96
479957 -25.458105 -50.620773  2022-03-18 06:43:29  96
479958 -25.458105 -50.620773  2022-03-18 07:13:29  96
479959 -25.458105 -50.620773  2022-03-18 07:43:29  96

[5000 rows x 4 columns]]
[]

In [213]:
multiprocessing.cpu_count()

8

In [212]:
import multiprocessing

In [193]:
[df.loc[df['id'] == x] for x in range(i, i + 8)]

[           lat         lon                    t  id
 0    -6.257188  106.946373  2022-03-15 12:24:58   0
 1    -6.257284  106.944613  2022-03-15 12:25:08   0
 2    -6.257325  106.943147  2022-03-15 12:25:18   0
 3    -6.257380  106.942151  2022-03-15 12:25:30   0
 4    -6.257436  106.941049  2022-03-15 12:25:38   0
 ...        ...         ...                  ...  ..
 4995 -6.881787  109.410693  2022-03-18 07:05:09   0
 4996 -6.881926  109.411147  2022-03-18 07:05:19   0
 4997 -6.881983  109.411458  2022-03-18 07:05:29   0
 4998 -6.881997  109.411609  2022-03-18 07:05:49   0
 4999 -6.881997  109.411609  2022-03-18 07:06:55   0

 [5000 rows x 4 columns],
            lat         lon                    t  id
 5000 -6.928387  109.762711  2022-03-15 08:01:54   1
 5001 -6.928170  109.763529  2022-03-15 08:02:04   1
 5002 -6.927958  109.764338  2022-03-15 08:04:30   1
 5003 -6.927736  109.765218  2022-03-15 08:04:30   1
 5004 -6.927493  109.766142  2022-03-15 08:04:30   1
 ...        ...         ...                  ...  ..
 9995 -7.708174  112.863636  2022-03-16 23:42:57   1
 9996 -7.708118  112.863591  2022-03-17 02:56:27   1
 9997 -7.708279  112.863627  2022-03-17 03:05:23   1
 9998 -7.708279  112.863627  2022-03-17 04:38:25   1
 9999 -7.708279  112.863627  2022-03-17 11:05:22   1

 [5000 rows x 4 columns],
             lat         lon                    t  id
 10000  4.707893  114.542228  2022-03-18 04:34:18   2
 10001  4.707893  114.542228  2022-03-18 04:34:20   2
 10002  4.707893  114.542228  2022-03-18 04:34:22   2
 10003  4.707893  114.542228  2022-03-18 04:34:24   2
 10004  4.707893  114.542228  2022-03-18 04:34:26   2
 ...         ...         ...                  ...  ..
 14995  4.881753  114.869322  2022-03-18 07:20:12   2
 14996  4.881753  114.869322  2022-03-18 07:20:13   2
 14997  4.881753  114.869322  2022-03-18 07:28:30   2
 14998  4.881753  114.869322  2022-03-18 07:36:50   2
 14999  4.881753  114.869322  2022-03-18 07:45:10   2

 [5000 rows x 4 columns],
             lat         lon                    t  id
 15000 -6.210515  106.917765  2022-03-17 10:58:12   3
 15001 -6.210515  106.917765  2022-03-17 10:58:27   3
 15002 -6.210515  106.917765  2022-03-17 10:58:42   3
 15003 -6.210515  106.917765  2022-03-17 10:58:57   3
 15004 -6.210515  106.917765  2022-03-17 10:59:12   3
 ...         ...         ...                  ...  ..
 19995 -6.223233  106.407895  2022-03-18 07:48:49   3
 19996 -6.223233  106.407895  2022-03-18 07:49:04   3
 19997 -6.223310  106.407938  2022-03-18 07:49:34   3
 19998 -6.223310  106.407938  2022-03-18 07:49:49   3
 19999 -6.223310  106.407938  2022-03-18 07:51:04   3

 [5000 rows x 4 columns],
             lat         lon                    t  id
 20000 -7.595826  112.690116  2022-03-17 01:12:58   4
 20001 -7.594797  112.690231  2022-03-17 01:12:58   4
 20002 -7.593735  112.690311  2022-03-17 01:12:58   4
 20003 -7.592620  112.690400  2022-03-17 01:12:58   4
 20004 -7.591494  112.690462  2022-03-17 01:12:58   4
 ...         ...         ...                  ...  ..
 24995 -6.902127  109.684684  2022-03-18 07:50:02   4
 24996 -6.902033  109.683982  2022-03-18 07:50:12   4
 24997 -6.902028  109.683902  2022-03-18 07:50:22   4
 24998 -6.901998  109.683636  2022-03-18 07:51:02   4
 24999 -6.901940  109.683218  2022-03-18 07:51:12   4

 [5000 rows x 4 columns],
              lat        lon                    t  id
 25000  55.806108  38.033338  2022-03-16 19:03:27   5
 25001  55.806108  38.033338  2022-03-16 19:04:58   5
 25002  55.806108  38.033338  2022-03-16 19:05:26   5
 25003  55.806108  38.033338  2022-03-16 19:06:57   5
 25004  55.806108  38.033338  2022-03-16 19:08:27   5
 ...          ...        ...                  ...  ..
 29995  55.843852  37.801348  2022-03-18 07:50:33   5
 29996  55.844492  37.800125  2022-03-18 07:50:39   5
 29997  55.845112  37.798900  2022-03-18 07:50:45   5
 29998  55.845750  37.797658  2022-03-18 07:50:50   5
 29999  55.846380  37.796465  2022-03-18 07:50:56   5

 [5000 rows x 4 columns],
              lat        lon                    t  id
 30000  56.466733  38.366893  2022-03-15 10:58:44   6
 30001  56.466340  38.364635  2022-03-15 10:58:50   6
 30002  56.466018  38.363223  2022-03-15 10:58:54   6
 30003  56.465538  38.361563  2022-03-15 10:58:59   6
 30004  56.465072  38.360250  2022-03-15 10:59:03   6
 ...          ...        ...                  ...  ..
 34995  56.112010  44.166810  2022-03-18 07:03:51   6
 34996  56.112010  44.166810  2022-03-18 07:13:51   6
 34997  56.112010  44.166810  2022-03-18 07:23:51   6
 34998  56.112010  44.166810  2022-03-18 07:33:51   6
 34999  56.112010  44.166810  2022-03-18 07:43:51   6

 [5000 rows x 4 columns],
              lat        lon                    t  id
 35000  55.269493  61.403450  2022-03-16 06:07:39   7
 35001  55.269501  61.403442  2022-03-16 06:07:40   7
 35002  55.269508  61.403404  2022-03-16 06:07:43   7
 35003  55.269508  61.403389  2022-03-16 06:07:44   7
 35004  55.269508  61.403385  2022-03-16 06:07:50   7
 ...          ...        ...                  ...  ..
 39995  52.868851  48.281204  2022-03-18 07:50:13   7
 39996  52.867390  48.277908  2022-03-18 07:50:25   7
 39997  52.865902  48.273865  2022-03-18 07:50:39   7
 39998  52.864326  48.269814  2022-03-18 07:50:53   7
 39999  52.862488  48.266495  2022-03-18 07:51:06   7

 [5000 rows x 4 columns]]

In [187]:
for i in range(i, i + 8):
    print([x for x in i])

0
1
2
3
4
5
6
7

In [183]:
df.loc[df['id'] == 1]

           lat         lon                    t  id
5000 -6.928387  109.762711  2022-03-15 08:01:54   1
5001 -6.928170  109.763529  2022-03-15 08:02:04   1
5002 -6.927958  109.764338  2022-03-15 08:04:30   1
5003 -6.927736  109.765218  2022-03-15 08:04:30   1
5004 -6.927493  109.766142  2022-03-15 08:04:30   1
...        ...         ...                  ...  ..
9995 -7.708174  112.863636  2022-03-16 23:42:57   1
9996 -7.708118  112.863591  2022-03-17 02:56:27   1
9997 -7.708279  112.863627  2022-03-17 03:05:23   1
9998 -7.708279  112.863627  2022-03-17 04:38:25   1
9999 -7.708279  112.863627  2022-03-17 11:05:22   1

[5000 rows x 4 columns]

In [2]:
import pandas as pd
import haversine as hs
import warnings
from datetime import datetime
import numpy as np
warnings.filterwarnings('ignore')

# Функция для подготовки поездок конкретного объекта
def data_transforming(tdf):    
    # Сортировка необходима, если мы не знаем, что файл гаранитрованно отсортирован
    # В нашем случае файл уже отсортирован, но оставим сортировку для общего случая
    tdf['t'] = tdf['t'].astype('datetime64')
    tdf.sort_values(by = 't', inplace = True)
    
    # Дельта времени между записями
    tdf['t_diff'] = tdf['t'].diff(1).dt.seconds

    # Вычисление перемещений 
    tdf['lat_prev'] = tdf['lat'].shift(1)
    tdf['lon_prev'] = tdf['lon'].shift(1)
    tdf['coord'] = tdf.apply(lambda x: tuple(x[['lat','lon']]),axis = 1)
    tdf['coord_prev'] = tdf.apply(lambda x: tuple(x[['lat_prev','lon_prev']]),axis = 1)
    tdf['dist'] = tdf[['coord', 'coord_prev']].apply(lambda x: hs.haversine(x['coord'], x['coord_prev']), axis = 1).fillna(0) * 1000
    
    # Вычисление кусочных скоростей и ускорений 
    tdf['velocity'] = (tdf['dist']/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x).fillna(0)
    tdf['acceleration'] = np.abs((tdf['velocity'].diff(1)/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x)).fillna(0)

    # Флаг признака движения - поможет сгруппировать кусочки поездки в общую поездку
    tdf['movement_flg'] = tdf['dist'].apply(lambda x: 0 if x == 0 else 1)
    
    # Взвешенные скорости и ускорения. Необходимы для вычисления средних ускорений и скоростей.
    tdf['velocity_w'] = tdf['velocity'] * tdf['t_diff']
    tdf['acceleration_w'] = tdf['acceleration'] * tdf['t_diff']
    print(tdf['id'].unique())
    # Пробег в цикле и разметка уникальных поездок. 
    # Необходима для дальнейшей агрегации и вычисления расстояний, скоростей и ускорений 
    j = 0 
    for i in tdf.index[1:]:
        if tdf.loc[i, 'movement_flg'] == tdf.loc[i - 1, 'movement_flg']:
            tdf.loc[i, 'trip_id'] = j
        else:
            j += 1
            tdf.loc[i, 'trip_id'] = j
    
    # Формирование финального результата 
    
    output = pd.concat([tdf.groupby(['trip_id'])['dist'].sum(),
                        tdf.groupby(['trip_id'])['t_diff'].sum().rename('trip_time'),
                       (tdf.groupby('trip_id')['velocity_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('velocity_mean'),
                       (tdf.groupby('trip_id')['acceleration_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('acceleration_mean')], axis = 1)

    # Очистка от простоев и кратких поездок
    output = output.loc[(output['dist'] > 0 ) & (output['trip_time'] >= 60)]
    return output

In [50]:
tdf = df[df['id'] == 0].copy()

In [51]:
# Сортировка необходима, если мы не знаем, что файл гаранитрованно отсортирован
# В нашем случае файл уже отсортирован, но оставим сортировку для общего случая
tdf['t'] = tdf['t'].astype('datetime64')
#tdf = tdf.sort_values('t').drop_duplicates('t',keep='last').reset_index(drop = True)
tdf.sort_values(by = 't', inplace = True)

# Дельта времени между записями
tdf['t_diff'] = tdf['t'].diff(1).dt.seconds

# Вычисление перемещений 
tdf['lat_prev'] = tdf['lat'].shift(1)
tdf['lon_prev'] = tdf['lon'].shift(1)
tdf['coord'] = tdf.apply(lambda x: tuple(x[['lat','lon']]),axis = 1)
tdf['coord_prev'] = tdf.apply(lambda x: tuple(x[['lat_prev','lon_prev']]),axis = 1)
tdf['dist'] = tdf[['coord', 'coord_prev']].apply(lambda x: hs.haversine(x['coord'], x['coord_prev']), axis = 1).fillna(0) * 1000

# Вычисление кусочных скоростей и ускорений 
tdf['velocity'] = (tdf['dist']/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x).fillna(0)
tdf['acceleration'] = np.abs((tdf['velocity'].diff(1)/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x)).fillna(0)

# Флаг признака движения - поможет сгруппировать кусочки поездки в общую поездку
tdf['movement_flg'] = tdf['dist'].apply(lambda x: 0 if x == 0 else 1)

# Взвешенные скорости и ускорения. Необходимы для вычисления средних ускорений и скоростей.
tdf['velocity_w'] = tdf['velocity'] * tdf['t_diff']
tdf['acceleration_w'] = tdf['acceleration'] * tdf['t_diff']
print(tdf['id'].unique())
# Пробег в цикле и разметка уникальных поездок. 
# Необходима для дальнейшей агрегации и вычисления расстояний, скоростей и ускорений 
j = 0 
for i in tdf.index[1:]:
    if tdf.loc[i, 'movement_flg'] == tdf.loc[i - 1, 'movement_flg']:
        tdf.loc[i, 'trip_id'] = j
    else:
        j += 1
        tdf.loc[i, 'trip_id'] = j

[0]

In [45]:
tdf = df[df['id'] == 0].copy()

In [32]:
pd.set_option('use_inf_as_na', True)

In [176]:
# Векторизированная функция расчета расстояния между координатами
def haversine_dist(s_lat, s_lng, e_lat, e_lng):
    R = 6371
    s_lat = s_lat*np.pi/180.0                      
    s_lng = np.deg2rad(s_lng)     
    e_lat = np.deg2rad(e_lat)                       
    e_lng = np.deg2rad(e_lng)  
    d = np.sin((e_lat - s_lat)/2)**2 + np.cos(s_lat)*np.cos(e_lat) * np.sin((e_lng - s_lng)/2)**2
    return 2 * R * np.arcsin(np.sqrt(d))

# Функция вычисления расстояния для поездок 
def distance_calculation(tdf):
    # Сортировка и приведение к формату даты 
    tdf['t'] = tdf['t'].astype('datetime64')
    tdf.sort_values(by = 't', inplace = True)
    
    # Дельта времени между записями
    tdf['t_diff'] = tdf['t'].diff(1).dt.seconds

    # Вычисление перемещения
    tdf['dist'] = haversine_dist(tdf['lat'].shift(1), tdf['lon'].shift(1), tdf['lat'], tdf['lon']).fillna(0) * 1000
    
# Функция вычисления кусочной скорости
def velocity_calculation(tdf):
    tdf['velocity'] = (tdf['dist']/tdf['t_diff']).fillna(0)
    
    
# Функция вычисления кусочного ускорения
def acceleration_calculation(tdf):
    tdf['acceleration'] = np.abs(tdf['velocity'].diff(1)/tdf['t_diff']).fillna(0)
    
    
# Схлопывание результата на уровень поездок
def aggregation(tdf, agg_level = 'acceleration'):
    j = 0 
    for i in tdf.index[1:]:
        if (tdf.loc[i, 'dist'] > 0) == (tdf.loc[i - 1, 'dist'] > 0):
            tdf.loc[i, 'trip_id'] = j
        else:
            j += 1
            tdf.loc[i, 'trip_id'] = j
    
    # выбрасываем нерелевантные кусочки
    tdf = tdf.loc[tdf['t_diff'] != 0]
    # Формирование финального результата 
    if agg_level in ['velocity', 'acceleration', 'distance']:
        
        output = pd.concat([tdf.groupby(['trip_id'])['id'].min(),
                            tdf.groupby(['trip_id'])['dist'].sum(),
                                tdf.groupby(['trip_id'])['t_diff'].sum().rename('trip_time')], axis = 1)
    
    if agg_level in ['velocity', 'acceleration']:
        
        tdf['velocity_w'] = tdf['velocity'] * tdf['t_diff']
        output = pd.concat([output,
                           (tdf.groupby('trip_id')['velocity_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('velocity_mean')], axis = 1)
    
    if agg_level == 'acceleration':
        
        tdf['acceleration_w'] = tdf['acceleration'] * tdf['t_diff']
        output = pd.concat([output,
                           (tdf.groupby('trip_id')['acceleration_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('acceleration_mean')], axis = 1)
        
    # Очистка от простоев и кратких поездок
    return output.loc[(output['dist'] > 0 ) & (output['trip_time'] >= 60)]



def calculation_funct(tdf, agg_level = 'velocity'):
    if agg_level in ['velocity', 'acceleration', 'distance']:
        distance_calculation(sdf)
        
    if agg_level in ['velocity', 'acceleration']:
        velocity_calculation(sdf)
        
    if agg_level in ['acceleration']:
        acceleration_calculation(sdf)
    
    return aggregation(sdf, agg_level = agg_level)

In [181]:
calculation_funct(sdf, agg_level = 'acceleration')

         id           dist  trip_time  velocity_mean  acceleration_mean
trip_id
1.0       0   76700.161545    67121.0       1.142715           0.067403
3.0       0   59828.108519    16662.0       3.590692           0.211866
5.0       0    1873.274924    27693.0       0.067644           0.005801
7.0       0     441.937960     1720.0       0.256941           0.015902
9.0       0      13.910218      273.0       0.050953           0.000187
11.0      0  320838.497065    76283.0       4.205898           0.368722
13.0      0    3134.595756      549.0       5.709646           0.215554

In [158]:
sdf

,lat,lon,t,id,t_diff,dist,velocity,trip_id
0,-6.257188,106.946373,2022-03-15 12:24:58,0,NaN,0.000000,0.000000,NaN
1,-6.257284,106.944613,2022-03-15 12:25:08,0,10.0,194.830516,19.483052,1.0
2,-6.257325,106.943147,2022-03-15 12:25:18,0,10.0,162.178740,16.217874,1.0
3,-6.257380,106.942151,2022-03-15 12:25:30,0,12.0,110.211020,9.184252,1.0
4,-6.257436,106.941049,2022-03-15 12:25:38,0,8.0,121.987856,15.248482,1.0
...,...,...,...,...,...,...,...,...
4995,-6.881787,109.410693,2022-03-18 07:05:09,0,10.0,63.422043,6.342204,13.0
4996,-6.881926,109.411147,2022-03-18 07:05:19,0,10.0,52.355764,5.235576,13.0
4997,-6.881983,109.411458,2022-03-18 07:05:29,0,10.0,34.940470,3.494047,13.0
4998,-6.881997,109.411609,2022-03-18 07:05:49,0,20.0,16.747467,0.837373,13.0
4999,-6.881997,109.411609,2022-03-18 07:06:55,0,66.0,0.000000,0.000000,14.0

In [180]:
sdf = df[df['id'] == 0].copy()

In [142]:
distance_calculation(sdf)

In [143]:
velocity_calculation(sdf)

In [144]:
acceleration_calculation(sdf)

In [148]:
aggregation(sdf, agg_level = 's')

KeyError: 'dist'

In [122]:
sdf

,lat,lon,t,id,t_diff,dist,velocity,acceleration
0,-6.257188,106.946373,2022-03-15 12:24:58,0,NaN,0.000000,0.000000,0.000000
1,-6.257284,106.944613,2022-03-15 12:25:08,0,10.0,194.830516,19.483052,1.948305
2,-6.257325,106.943147,2022-03-15 12:25:18,0,10.0,162.178740,16.217874,0.326518
3,-6.257380,106.942151,2022-03-15 12:25:30,0,12.0,110.211020,9.184252,0.586135
4,-6.257436,106.941049,2022-03-15 12:25:38,0,8.0,121.987856,15.248482,0.758029
...,...,...,...,...,...,...,...,...
4995,-6.881787,109.410693,2022-03-18 07:05:09,0,10.0,63.422043,6.342204,0.051773
4996,-6.881926,109.411147,2022-03-18 07:05:19,0,10.0,52.355764,5.235576,0.110663
4997,-6.881983,109.411458,2022-03-18 07:05:29,0,10.0,34.940470,3.494047,0.174153
4998,-6.881997,109.411609,2022-03-18 07:05:49,0,20.0,16.747467,0.837373,0.132834
4999,-6.881997,109.411609,2022-03-18 07:06:55,0,66.0,0.000000,0.000000,0.012687

In [98]:
sdf

           lat         lon                    t  id
0    -6.257188  106.946373  2022-03-15 12:24:58   0
1    -6.257284  106.944613  2022-03-15 12:25:08   0
2    -6.257325  106.943147  2022-03-15 12:25:18   0
3    -6.257380  106.942151  2022-03-15 12:25:30   0
4    -6.257436  106.941049  2022-03-15 12:25:38   0
...        ...         ...                  ...  ..
4995 -6.881787  109.410693  2022-03-18 07:05:09   0
4996 -6.881926  109.411147  2022-03-18 07:05:19   0
4997 -6.881983  109.411458  2022-03-18 07:05:29   0
4998 -6.881997  109.411609  2022-03-18 07:05:49   0
4999 -6.881997  109.411609  2022-03-18 07:06:55   0

[5000 rows x 4 columns]

In [99]:
distance_calculation(sdf)

In [100]:
sdf

           lat         lon                   t  id  t_diff        dist
0    -6.257188  106.946373 2022-03-15 12:24:58   0     NaN    0.000000
1    -6.257284  106.944613 2022-03-15 12:25:08   0    10.0  194.830516
2    -6.257325  106.943147 2022-03-15 12:25:18   0    10.0  162.178740
3    -6.257380  106.942151 2022-03-15 12:25:30   0    12.0  110.211020
4    -6.257436  106.941049 2022-03-15 12:25:38   0     8.0  121.987856
...        ...         ...                 ...  ..     ...         ...
4995 -6.881787  109.410693 2022-03-18 07:05:09   0    10.0   63.422043
4996 -6.881926  109.411147 2022-03-18 07:05:19   0    10.0   52.355764
4997 -6.881983  109.411458 2022-03-18 07:05:29   0    10.0   34.940470
4998 -6.881997  109.411609 2022-03-18 07:05:49   0    20.0   16.747467
4999 -6.881997  109.411609 2022-03-18 07:06:55   0    66.0    0.000000

[5000 rows x 6 columns]

In [101]:
velocity_calculation(sdf)

In [103]:
acceleration_calculation(sdf)

In [104]:
sdf

,lat,lon,t,id,t_diff,dist,velocity,acceleration
0,-6.257188,106.946373,2022-03-15 12:24:58,0,NaN,0.000000,NaN,NaN
1,-6.257284,106.944613,2022-03-15 12:25:08,0,10.0,194.830516,19.483052,NaN
2,-6.257325,106.943147,2022-03-15 12:25:18,0,10.0,162.178740,16.217874,0.326518
3,-6.257380,106.942151,2022-03-15 12:25:30,0,12.0,110.211020,9.184252,0.586135
4,-6.257436,106.941049,2022-03-15 12:25:38,0,8.0,121.987856,15.248482,0.758029
...,...,...,...,...,...,...,...,...
4995,-6.881787,109.410693,2022-03-18 07:05:09,0,10.0,63.422043,6.342204,0.051773
4996,-6.881926,109.411147,2022-03-18 07:05:19,0,10.0,52.355764,5.235576,0.110663
4997,-6.881983,109.411458,2022-03-18 07:05:29,0,10.0,34.940470,3.494047,0.174153
4998,-6.881997,109.411609,2022-03-18 07:05:49,0,20.0,16.747467,0.837373,0.132834
4999,-6.881997,109.411609,2022-03-18 07:06:55,0,66.0,0.000000,0.000000,0.012687

In [102]:
sdf

,lat,lon,t,id,t_diff,dist,velocity
0,-6.257188,106.946373,2022-03-15 12:24:58,0,NaN,0.000000,NaN
1,-6.257284,106.944613,2022-03-15 12:25:08,0,10.0,194.830516,19.483052
2,-6.257325,106.943147,2022-03-15 12:25:18,0,10.0,162.178740,16.217874
3,-6.257380,106.942151,2022-03-15 12:25:30,0,12.0,110.211020,9.184252
4,-6.257436,106.941049,2022-03-15 12:25:38,0,8.0,121.987856,15.248482
...,...,...,...,...,...,...,...
4995,-6.881787,109.410693,2022-03-18 07:05:09,0,10.0,63.422043,6.342204
4996,-6.881926,109.411147,2022-03-18 07:05:19,0,10.0,52.355764,5.235576
4997,-6.881983,109.411458,2022-03-18 07:05:29,0,10.0,34.940470,3.494047
4998,-6.881997,109.411609,2022-03-18 07:05:49,0,20.0,16.747467,0.837373
4999,-6.881997,109.411609,2022-03-18 07:06:55,0,66.0,0.000000,0.000000

In [93]:
(5 > 0) == (-1 > 0)

False

In [ ]:
# Флаг признака движения - поможет сгруппировать кусочки поездки в общую поездку
tdf['movement_flg'] = tdf['dist'].apply(lambda x: 0 if x == 0 else 1)

# Взвешенные скорости и ускорения. Необходимы для вычисления средних ускорений и скоростей.
tdf['velocity_w'] = (tdf['velocity'] * tdf['t_diff']).fillna(0)
tdf['acceleration_w'] = (tdf['acceleration'] * tdf['t_diff']).fillna(0)
print(tdf['id'].unique())
# Пробег в цикле и разметка уникальных поездок. 
# Необходима для дальнейшей агрегации и вычисления расстояний, скоростей и ускорений 
j = 0 
for i in tdf.index[1:]:
    if tdf.loc[i, 'movement_flg'] == tdf.loc[i - 1, 'movement_flg']:
        tdf.loc[i, 'trip_id'] = j
    else:
        j += 1
        tdf.loc[i, 'trip_id'] = j

tdf = tdf.loc[tdf['t_diff'] != 0]
# Формирование финального результата 

output = pd.concat([tdf.groupby(['trip_id'])['dist'].sum(),
                    tdf.groupby(['trip_id'])['t_diff'].sum().rename('trip_time'),
                   (tdf.groupby('trip_id')['velocity_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('velocity_mean'),
                   (tdf.groupby('trip_id')['acceleration_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('acceleration_mean')], axis = 1)

# Очистка от простоев и кратких поездок
output = output.loc[(output['dist'] > 0 ) & (output['trip_time'] >= 60)]

In [64]:
import pandas as pd
import warnings
from datetime import datetime
import numpy as np
warnings.filterwarnings('ignore')

tdf = df[df['id'] == 0].copy()

# Векторизированная функция расчета расстояния между координатами
def distance(s_lat, s_lng, e_lat, e_lng):
    R = 6371
    s_lat = s_lat*np.pi/180.0                      
    s_lng = np.deg2rad(s_lng)     
    e_lat = np.deg2rad(e_lat)                       
    e_lng = np.deg2rad(e_lng)  
    d = np.sin((e_lat - s_lat)/2)**2 + np.cos(s_lat)*np.cos(e_lat) * np.sin((e_lng - s_lng)/2)**2
    return 2 * R * np.arcsin(np.sqrt(d))


# Функция для подготовки поездок конкретного объекта

# Сортировка необходима, если мы не знаем, что файл гаранитрованно отсортирован
# В нашем случае файл уже отсортирован, но оставим сортировку для общего случая
tdf['t'] = tdf['t'].astype('datetime64')
tdf.sort_values(by = 't', inplace = True)

# Дельта времени между записями
tdf['t_diff'] = tdf['t'].diff(1).dt.seconds

# Вычисление перемещения
tdf['dist'] = distance(tdf['lat'].shift(1), tdf['lon'].shift(1), tdf['lat'], tdf['lon']).fillna(0) * 1000

# Вычисление кусочных скоростей и ускорений 
tdf['velocity'] = tdf['dist']/tdf['t_diff']
tdf['acceleration'] = np.abs(tdf['velocity'].diff(1)/tdf['t_diff'])

#tdf['velocity'] = (tdf['dist']/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x).fillna(0)
#tdf['acceleration'] = np.abs((tdf['velocity'].diff(1)/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x)).fillna(0)

# Флаг признака движения - поможет сгруппировать кусочки поездки в общую поездку
tdf['movement_flg'] = tdf['dist'].apply(lambda x: 0 if x == 0 else 1)

# Взвешенные скорости и ускорения. Необходимы для вычисления средних ускорений и скоростей.
tdf['velocity_w'] = (tdf['velocity'] * tdf['t_diff']).fillna(0)
tdf['acceleration_w'] = (tdf['acceleration'] * tdf['t_diff']).fillna(0)
print(tdf['id'].unique())
# Пробег в цикле и разметка уникальных поездок. 
# Необходима для дальнейшей агрегации и вычисления расстояний, скоростей и ускорений 
j = 0 
for i in tdf.index[1:]:
    if tdf.loc[i, 'movement_flg'] == tdf.loc[i - 1, 'movement_flg']:
        tdf.loc[i, 'trip_id'] = j
    else:
        j += 1
        tdf.loc[i, 'trip_id'] = j

tdf = tdf.loc[tdf['t_diff'] != 0]
# Формирование финального результата 

output = pd.concat([tdf.groupby(['trip_id'])['dist'].sum(),
                    tdf.groupby(['trip_id'])['t_diff'].sum().rename('trip_time'),
                   (tdf.groupby('trip_id')['velocity_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('velocity_mean'),
                   (tdf.groupby('trip_id')['acceleration_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('acceleration_mean')], axis = 1)

# Очистка от простоев и кратких поездок
output = output.loc[(output['dist'] > 0 ) & (output['trip_time'] >= 60)]

[0]

In [7]:
tdf

,lat,lon,t,id,t_diff,lat_prev,lon_prev,coord,coord_prev,dist,velocity,acceleration,movement_flg,velocity_w,acceleration_w,trip_id
0,-6.257188,106.946373,2022-03-15 12:24:58,0,NaN,NaN,NaN,"(-6.25718777778, 106.94637333333333)","(nan, nan)",0.000000,0.000000,0.000000,0,NaN,NaN,NaN
1,-6.257284,106.944613,2022-03-15 12:25:08,0,10.0,-6.257188,106.946373,"(-6.25728388888, 106.94461333333334)","(-6.25718777778, 106.94637333333333)",194.830785,19.483079,1.948308,1,194.830785,19.483079,1.0
2,-6.257325,106.943147,2022-03-15 12:25:18,0,10.0,-6.257284,106.944613,"(-6.257325, 106.94314666666666)","(-6.25728388888, 106.94461333333334)",162.178964,16.217896,0.326518,1,162.178964,3.265182,1.0
3,-6.257380,106.942151,2022-03-15 12:25:30,0,12.0,-6.257325,106.943147,"(-6.25738, 106.94215111116668)","(-6.257325, 106.94314666666666)",110.211173,9.184264,0.586136,1,110.211173,7.033632,1.0
4,-6.257436,106.941049,2022-03-15 12:25:38,0,8.0,-6.257380,106.942151,"(-6.25743555555, 106.94104888883334)","(-6.25738, 106.94215111116668)",121.988025,15.248503,0.758030,1,121.988025,6.064239,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,-6.881787,109.410693,2022-03-18 07:05:09,0,10.0,-6.881626,109.410142,"(-6.88178722222, 109.41069333333331)","(-6.88162611112, 109.41014222216668)",63.422130,6.342213,0.051773,1,63.422130,0.517733,29.0
4996,-6.881926,109.411147,2022-03-18 07:05:19,0,10.0,-6.881787,109.410693,"(-6.88192555555, 109.41114666666668)","(-6.88178722222, 109.41069333333331)",52.355836,5.235584,0.110663,1,52.355836,1.106629,29.0
4997,-6.881983,109.411458,2022-03-18 07:05:29,0,10.0,-6.881926,109.411147,"(-6.88198333333, 109.41145777783332)","(-6.88192555555, 109.41114666666668)",34.940519,3.494052,0.174153,1,34.940519,1.741532,29.0
4998,-6.881997,109.411609,2022-03-18 07:05:49,0,20.0,-6.881983,109.411458,"(-6.88199666667, 109.41160888883331)","(-6.88198333333, 109.41145777783332)",16.747491,0.837375,0.132834,1,16.747491,2.656677,29.0
4999,-6.881997,109.411609,2022-03-18 07:06:55,0,66.0,-6.881997,109.411609,"(-6.88199666667, 109.41160888883331)","(-6.88199666667, 109.41160888883331)",0.000000,0.000000,0.012687,0,0.000000,0.837375,30.0

In [8]:
tdf['lat']

0      -6.257188
1      -6.257284
2      -6.257325
3      -6.257380
4      -6.257436
          ...
4995   -6.881787
4996   -6.881926
4997   -6.881983
4998   -6.881997
4999   -6.881997
Name: lat, Length: 5000, dtype: float64

In [9]:
distance(tdf['lat'], tdf['lon'], tdf['lat_prev'], tdf['lon_prev'])

0            NaN
1       0.194892
2       0.162230
3       0.110246
4       0.122026
          ...
4995    0.063442
4996    0.052372
4997    0.034951
4998    0.016753
4999    0.000000
Length: 5000, dtype: float64

In [15]:
def distance(s_lat, s_lng, e_lat, e_lng):

   # approximate radius of earth in km
    R = 6371

    s_lat = s_lat*np.pi/180.0                      
    s_lng = np.deg2rad(s_lng)     
    e_lat = np.deg2rad(e_lat)                       
    e_lng = np.deg2rad(e_lng)  

    d = np.sin((e_lat - s_lat)/2)**2 + np.cos(s_lat)*np.cos(e_lat) * np.sin((e_lng - s_lng)/2)**2

    return 2 * R * np.arcsin(np.sqrt(d))

In [ ]:
import pandas as pd
import haversine as hs
import warnings
from datetime import datetime
import numpy as np
warnings.filterwarnings('ignore')

# Функция для подготовки поездок конкретного объекта
def data_transforming(tdf):    
    # Сортировка необходима, если мы не знаем, что файл гаранитрованно отсортирован
    # В нашем случае файл уже отсортирован, но оставим сортировку для общего случая
    tdf['t'] = tdf['t'].astype('datetime64')
    tdf.sort_values(by = 't', inplace = True)
    
    # Дельта времени между записями
    tdf['t_diff'] = tdf['t'].diff(1).dt.seconds

    # Вычисление перемещений 
    tdf['lat_prev'] = tdf['lat'].shift(1)
    tdf['lon_prev'] = tdf['lon'].shift(1)
    tdf['coord'] = tdf.apply(lambda x: tuple(x[['lat','lon']]),axis = 1)
    tdf['coord_prev'] = tdf.apply(lambda x: tuple(x[['lat_prev','lon_prev']]),axis = 1)
    tdf['dist'] = tdf[['coord', 'coord_prev']].apply(lambda x: hs.haversine(x['coord'], x['coord_prev']), axis = 1).fillna(0) * 1000
    
    # Вычисление кусочных скоростей и ускорений 
    tdf['velocity'] = (tdf['dist']/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x).fillna(0)
    tdf['acceleration'] = np.abs((tdf['velocity'].diff(1)/tdf['t_diff']).apply(lambda x: 0 if  np.isinf(x) else x)).fillna(0)
и
    # Флаг признака движения - поможет сгруппировать кусочки поездки в общую поездку
    tdf['movement_flg'] = tdf['dist'].apply(lambda x: 0 if x == 0 else 1)
    
    # Взвешенные скорости и ускорения. Необходимы для вычисления средних ускорений и скоростей.
    tdf['velocity_w'] = tdf['velocity'] * tdf['t_diff']
    tdf['acceleration_w'] = tdf['acceleration'] * tdf['t_diff']
    print(tdf['id'].unique())
    # Пробег в цикле и разметка уникальных поездок. 
    # Необходима для дальнейшей агрегации и вычисления расстояний, скоростей и ускорений 
    j = 0 
    for i in tdf.index[1:]:
        if tdf.loc[i, 'movement_flg'] == tdf.loc[i - 1, 'movement_flg']:
            tdf.loc[i, 'trip_id'] = j
        else:
            j += 1
            tdf.loc[i, 'trip_id'] = j
    
    # Формирование финального результата 
    
    output = pd.concat([tdf.groupby(['trip_id'])['dist'].sum(),
                        tdf.groupby(['trip_id'])['t_diff'].sum().rename('trip_time'),
                       (tdf.groupby('trip_id')['velocity_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('velocity_mean'),
                       (tdf.groupby('trip_id')['acceleration_w'].sum()/ tdf.groupby('trip_id')['t_diff'].sum()).rename('acceleration_mean')], axis = 1)

    # Очистка от простоев и кратких поездок
    output = output.loc[(output['dist'] > 0 ) & (output['trip_time'] >= 60)]
    return output

In [ ]:
sdf

In [ ]:
%%time 
sdf = data_transforming(df.loc[df['id'] == 4])

In [ ]:
import multiprocessing

In [ ]:
multiprocessing.cpu_count()

In [ ]:
import os

In [ ]:
len(os.sched_getaffinity(0))

In [ ]:
sdf

In [ ]:
print(sdf['id'].unique())

#### Дополнительные комментарии: 
1. Есть недостаток у выходного результата: если между двумя записями проходило много секунд, но пройденное расстояние мало, то получается участок с крайне малой скоростью и малым ускорением. На самом деле, объект мог стоять 10 минут и только 20 секунд двигаться, а при расчете параметров время будет взято как 10 минут и 20 сек (а не 20, как нужно).
2. Скорректировать п.1 можно набором правил (например, выкидывать такие участки из рассмотрения) или изменив логику расчета (отказаться от идеи последовательно рассматривать каждую запись а как-то хитро схлопнуть записи по минутам, отбросив секунды)
3. Были попытки отказаться от последовательного цикла по всем записям, но не удалось. Всё же считаю необходимым разметить поездки по признаку движения/покоя
4. Раз уж не удалось отказаться от прохода в цикле по всем записям, то можно было бы производить расчет скоростей и проч. внутри цикла. Я попробовал такой подход, однако он оказался медленнее, чем с использованием предварительного векторизированного расчета встроенного в pandas.
5. Можно поискать дополнительный потенциал ускорения из разряда замены apply на numpy.vectorize и т д

In [ ]:
tdf

In [ ]:
from multiprocessing import Pool

def f(x):
    return x*x

if __name__ == '__main__':
    with Pool(5) as p:
        print(p.map(f, [1, 2, 3]))